= form_for [@occasion,@guest], :html => {:role =>"form"} do |f|
  .well
    %legend Guest Information (Some brief description about the guest)
    %fieldset
      .row
        .col-sm-3
          .form-group
            = f.collection_select(:title,	@title, :name, :name, {:include_blank => true}, {class: "form-control"})
        .col-sm-4
          .form-group
            = f.text_field :first_name, placeholder: "First Name", :autofocus => true, :maxlength => 50, class: "form-control"            
        .col-sm-5
          .form-group
            = f.text_field :last_name, placeholder: "Last Name", :maxlength => 50, class: "form-control"
      .form-group
        = f.text_field :email, placeholder: "Email", :maxlength => 50, class: "form-control"
      .form-group
        = f.text_area :notes, {:rows => 5, :maxlength => 500, placeholder: "Notes", class: "form-control"}
        %span.help-block These notes are private and visible only to you.
  .well
    %legend
      Invitations
      %small (Select the events that this guest is invited to below)
    %fieldset
      %p 
      .form-group
        = f.label :rsvps, "Events include:"
        = f.fields_for :rsvps do |rsvp|
          = render 'rsvp_fields', :f => rsvp

  = link_to 'Cancel', occasion_invitations_path(@occasion), :class=> "btn btn-default btn-lg"
  = f.submit "Save Guest", :class => "btn btn-success btn-lg"  


