= form_for [@occasion,@guest], :html => {:role =>"form"} do |f|
  .row
    .col-xs-6

      %h3 Guest Information
      
      %fieldset
        .row
          .col-xs-3
            .form-group{class: @guest.errors.include?(:title) ? 'has-error' : ''}
              = f.label :title, class: "control-label" do
                Title
              = f.collection_select(:title,	@title, :name, :name, {:include_blank => true}, {class: "form-control"})
              %span.help-block= @guest.errors.get(:title).join('; ')
          .col-xs-4
            .form-group{class: @guest.errors.include?(:first_name) ? 'has-error' : ''}
              = f.label :first_name, class: "control-label" do
                First Name
              = f.text_field :first_name, :autofocus => true, :maxlength => 50, class: "form-control"
              %span.help-block= @guest.errors.get(:first_name).join('; ')            
          .col-xs-5
            .form-group{class: @guest.errors.include?(:last_name) ? 'has-error' : ''}
              = f.label :last_name, class: "control-label" do
                Last Name
              = f.text_field :last_name, :autofocus => true, :maxlength => 50, class: "form-control"
              %span.help-block= @guest.errors.get(:last_name).join('; ')

        .form-group{class: @guest.errors.include?(:email) ? 'has-error' : ''}
          = f.label :email, class: "control-label" do
            Email
          = f.text_field :email, :maxlength => 50, class: "form-control input-sm"
          %span.help-block= @guest.errors.get(:email).join('; ')
        
      - if user_signed_in?
        %h3 Private Notes
    
        .form-group
          = f.label :notes, "Notes", class: "control-label"
          = f.text_area :notes, {:rows => 5, :maxlength => 500, placeholder: "These notes are private and visible only to you.", class: "form-control input-sm"}
        
        
      - if user_signed_in?
        .pull-right
          = f.submit "Save & Add more", :class => "btn btn-success btn-lg"
          = f.submit "Save & Finish", :class => "btn btn-success btn-lg"
        = link_to 'Cancel', occasion_guests_path(@occasion), :class=> "btn btn-default btn-lg"
      - else
        = f.submit "Submit info", :class => "btn btn-success form-btn btn-lg"
    .col-xs-6
    
      = f.fields_for :invitation do |invitation|
        = render 'invitation_fields', :f => invitation


