.container
  .alert.alert-warning
    %span.text-muted Host Information
    >
    %span.text-muted Wedding Information
    >
    %strong Event Information
    >
    %span.text-muted Invitations


  = form_for @occasion, :url => wizard_path, :method => :put, :html => { :role => "form"} do |f|
    %ul.list-group
      %li.list-group-item
        %h2 Next, add each of your events!
      %li.list-group-item.list-group-item-info
        %h4 Event what? when? where? why?
        = f.fields_for :events do |event|
          %li.list-group-item
            .row
              .col-md-8          
                %fieldset
                  .form-group{class: event.object.errors.include?(:name) ? 'has-error' : ''}
                    = event.label :name, class: "control-label" do
                      Event Title
                      %span{style: "color:red"}*
                    = event.text_field :name, :autofocus => true, :maxlength => 50, class: "form-control", style: "font-weight:bold;"
                    %span.help-block= event.object.errors.get(:name).join('; ')
                  .row
                    .col-sm-5
                      .form-group{class: event.object.errors.include?(:start_date) ? 'has-error' : ''}
                        = event.label :start_date, class: "control-label" do
                          Event Date
                          %span{style: "color:red"}*
                        = event.text_field :start_date, :value => event.object.start_date.blank? ? nil : event.object.start_date.strftime("%b %e, %Y"), class: "form-control datepicker"
                        %span.help-block= event.object.errors.get(:start_date).join('; ')
                    .col-sm-5
                      .form-group{class: event.object.errors.include?(:start_time) ? 'has-error' : ''}
                        = event.label :start_time, class: "control-label" do
                          Event Time
                          %span{style: "color:red"}*
                        = event.text_field :start_time, :value => event.object.start_time.present? ? event.object.start_time.strftime('%l:%M %p') : '',:id => "spinner", :class => "form-control"
                        %span.help-block= event.object.errors.get(:start_time).join('; ')
                  .form-group{class: event.object.errors.include?(:description) ? 'has-error' : ''}
                    = event.label :description, class: "control-label" do
                      Description
                      %span{style: "color:red"}*
                    = event.text_area :description, :rows => 3, :maxlength => 250, :class => "form-control input-sm"
                    %span.help-block= event.object.errors.get(:description).join('; ')

          %li.list-group-item.list-group-item-info
            %h4 
              Enter some info about the venue
          %li.list-group-item
            .row
              .col-md-8
                %fieldset
                  .form-group{class: event.object.errors.include?(:location) ? 'has-error' : ''}
                    = event.label :location, class: "control-label" do
                      Location Name
                      %span{style: "color:red"}*
                    = event.text_field :location, :rows => 3, :maxlength => 100, class: "form-control"
                    %span.help-block= event.object.errors.get(:location).join('; ')
                  = event.label :location, class: "control-label" do
                    Location Address (optional)

                  .row
                    .col-sm-7
                      .form-group
                        = event.text_field :address_1, placeholder: "Address 1", :maxlength => 100, class: "form-control"
                    .col-sm-5
                      .form-group
                        = event.text_field :address_2, placeholder: "Address 2", :maxlength => 100, class: "form-control"
                  .row
                    .col-sm-5
                      .form-group      
                        = event.text_field :city, placeholder: "City", :maxlength => 100, class: "form-control"
                    .col-sm-4.domestic
                      .form-group
                        = event.collection_select :state,	@state, :name, :name, {prompt: "Please select..."}, {class: "form-control"} 
                    .domestic.col-sm-3
                      .form-group
                        = event.text_field :zip, placeholder: "Zip", :maxlength => 5, class: "form-control"
                    .international.col-sm-4
                      .form-group
                        = event.text_field :region, placeholder: "Region", :maxlength => 100, class: "form-control"
                    .international.col-sm-3
                      .form-group
                        = event.text_field :postal_code, placeholder: "Postal Code", :maxlength => 20, class: "form-control"

                  .form-group
                    = event.collection_select(:country,	@country, :name, :name, {:selected => current_user.country.blank? ? "United States" : current_user.country}, {class: "form-control",:id => "countrySelect"})
      
    .pull-right
      .form-group
        = f.submit "Add another event", :class => "btn btn-default btn-lg"
        = f.submit "Next: Invitations", :class => "btn btn-success btn-lg"