.container
  .row
    .col-md-offset-2.col-md-8
      .alert.alert-warning
        %strong Host Information
        >
        %span.text-muted Wedding Information
        >
        %span.text-muted Event Information
        >
        %span.text-muted Invitations
  
      = form_for @user, :url => wizard_path, :method => :put, :html => { :role => "form"} do |f|
        %ul.list-group
          %li.list-group-item
            %h2 First, tell us about the lovely couple!
          %li.list-group-item.list-group-item-info
            %h4
              What are your names?
              %small So your guests recognize our emails.
          %li.list-group-item
      
            %fieldset
              %label Your name
              .row
                .col-sm-3
                  .form-group
                    = f.label :title, class: "sr-only"
                    = f.collection_select(:title,	@title, :name, :name, {:prompt => "Select"}, {class: "form-control"})
                .col-sm-4
                  .form-group
                    = f.label :first_name, class: "sr-only"
                    = f.text_field :first_name, class: "form-control", placeholder: "First Name"
                .col-sm-5
                  .form-group
                    = f.label :last_name, class: "sr-only"
                    = f.text_field :last_name, class: "form-control", placeholder: "Last Name"

              %label Partner name
              .row
                .col-sm-3
                  .form-group
                    = f.label :partner_title, class: "sr-only"
                    = f.collection_select(:partner_title,	@title, :name, :name, {:prompt => "Select"}, {class: "form-control"})
                .col-sm-4
                  .form-group
                    = f.label :partner_first_name, class: "sr-only"
                    = f.text_field :partner_first_name, class: "form-control", placeholder: "First Name"
                .col-sm-5
                  .form-group
                    = f.label :partner_last_name, class: "sr-only"
                    = f.text_field :partner_last_name, class: "form-control", placeholder: "Last Name"
          %li.list-group-item.list-group-item-info
            %h4
              How should guests get in touch with you?
              %small In case they want to send gifts, get directions, etc.
          %li.list-group-item
            %fieldset
              = f.label :location, class: "control-label" do
                Address (optional)

              .row
                .col-sm-7
                  .form-group
                    = f.text_field :address_1, placeholder: "Address 1", :maxlength => 100, class: "form-control"
                .col-sm-5
                  .form-group
                    = f.text_field :address_2, placeholder: "Address 2", :maxlength => 100, class: "form-control"
              .row
                .col-sm-5
                  .form-group      
                    = f.text_field :city, placeholder: "City", :maxlength => 100, class: "form-control"
                .col-sm-4.domestic
                  .form-group
                    = f.collection_select :state,	@state, :name, :name, {prompt: "Please select..."}, {class: "form-control"} 
                .domestic.col-sm-3
                  .form-group
                    = f.text_field :zip, placeholder: "Zip", :maxlength => 5, class: "form-control"
                .international.col-sm-4
                  .form-group
                    = f.text_field :region, placeholder: "Region", :maxlength => 100, class: "form-control"
                .international.col-sm-3
                  .form-group
                    = f.text_field :postal_code, placeholder: "Postal Code", :maxlength => 20, class: "form-control"

              .form-group
                = f.collection_select(:country,	@country, :name, :name, {:selected => current_user.country.blank? ? "United States" : current_user.country}, {class: "form-control",:id => "countrySelect"})
          
              .row
                .col-sm-5
                  .form-group
                    = f.label :cell_phone, class: "form-label"
                    = f.text_field :cell_phone, :maxlength => 100, class: "form-control"
                .col-sm-5
                  .form-group
                    = f.label :home_phone, class: "form-label"
                    = f.text_field :home_phone, :maxlength => 100, class: "form-control"
  
              = f.submit "Next", :class => "btn btn-success btn-block"