%h1.form-h1 Sign in


.row
  .col-xs-4
    = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  
      .form-group
        = f.label :email, "Email", :class => "control-label"
        = f.text_field :email, :autofocus => true, :style => "width:100%"
      .form-group
        = f.label :password, "Password", :class => "control-label"
        = f.password_field :password, :style => "width:100%"
  
      - if devise_mapping.rememberable?
        .checkbox
          = f.check_box :remember_me
          = f.label :remember_me, "Remember me"
          = link_to "Forgot password?", new_password_path(resource_name), :class => "pull-right"
      
      = f.submit "Sign in", :class=> "btn btn-primary"
      %span.text-muted{style: "padding-left:12px;font-size:17px;"} or
      = link_to "Sign up", new_registration_path(resource_name), :class => "btn btn-link"