<p>Hi <%= @invitation.name %></p>

<p><%= @occasion.description %></p>
<p>
  Thanks, <br>
  <%= @user.first_name %> & <%= @user.partner_first_name %>
</p>
  --------------------------
<p>To reply and confirm whether you'll be attending, click the following customized link:
  <%= link_to "Your Invitation Link", occasion_invitation_rsvp_url(@occasion, @invitation, :guest_info) %>
</p>