= form_for [@occasion,@event], :html => { :role => "form"} do |f|
  %ul.list-group
    %li.list-group-item
      %h3
        %strong Event details
        %small What? When? Where? Why?
      
      %fieldset
        .form-group{class: @event.errors.include?(:name) ? 'has-error' : ''}
          
          = f.label :name, class: "control-label" do
            Title
            %span{style: "color:red"}*
          .row
            .col-sm-7
              = f.text_field :name, :autofocus => true, :maxlength => 50, class: "form-control"
            .col-sm-5
              %span.help-block= @event.errors.get(:name).join('; ')
        .row
          .col-xs-5
            .form-group{class: @event.errors.include?(:start_date) ? 'has-error' : ''}
              = f.label :start_date, class: "control-label" do
                Date
                %span{style: "color:red"}*
              = f.text_field :start_date, :value => @event.start_date.blank? ? nil : @event.start_date.strftime("%b %e, %Y"), class: "form-control datepicker"
              %span.help-block= @event.errors.get(:start_date).join('; ')
          .col-xs-5
            .form-group{class: @event.errors.include?(:start_time) ? 'has-error' : ''}
              = f.label :start_time, class: "control-label" do
                Time
                %span{style: "color:red"}*
              = f.text_field :start_time, :value => @event.start_time.present? ? @event.start_time.strftime('%l:%M %p') : '',:id => "spinner", :class => "form-control"
              %span.help-block= @event.errors.get(:start_time).join('; ')
        .form-group{class: @event.errors.include?(:description) ? 'has-error' : ''}
          = f.label :description, class: "control-label" do
            Description
            %span{style: "color:red"}*
          .row
            .col-sm-7
              = f.text_area :description, :rows => 3, :maxlength => 250, :class => "form-control"
            .col-sm-5
              %span.help-block= @event.errors.get(:description).join('; ')

      %h3
        %strong Venue info
        %small Where is the event?
      %fieldset

        .form-group{class: @event.errors.include?(:location) ? 'has-error' : ''}
          = f.label :location, class: "control-label" do
            Location Name
            %span{style: "color:red"}*
          .row
            .col-sm-7
              = f.text_field :location, :rows => 3, :maxlength => 100, class: "form-control"
            .col-sm-5
              %span.help-block= @event.errors.get(:location).join('; ')
        = f.label :location, class: "control-label" do
          Location Address (optional)


        .row
          .col-xs-7
            .form-group
              = f.text_field :address_1, placeholder: "Address 1", :maxlength => 100, class: "form-control"
          .col-xs-5
            .form-group
              = f.text_field :address_2, placeholder: "Address 2", :maxlength => 100, class: "form-control"
        .row
          .col-sm-5
            .form-group      
              = f.text_field :city, placeholder: "City", :maxlength => 100, class: "form-control"
          .domestic.col-sm-4.col-xs-7
            .form-group
              = f.collection_select :state,	@state, :name, :name, {prompt: "Please select..."}, {class: "form-control"} 
          .domestic.col-sm-3.col-xs-5
            .form-group
              = f.text_field :zip, placeholder: "Zip", :maxlength => 5, class: "form-control"
          .international.col-sm-4
            .form-group
              = f.text_field :region, placeholder: "Region", :maxlength => 100, class: "form-control"
          .international.col-sm-3
            .form-group
              = f.text_field :postal_code, placeholder: "Postal Code", :maxlength => 20, class: "form-control"

        .form-group
          = f.collection_select(:country,	@country, :name, :name, {:selected => @event.country.blank? ? "United States" : @event.country}, {class: "form-control",:id => "countrySelect"})
          
  .pull-right
    .form-group
      = f.submit "Save & Add more", :class => "btn btn-success btn-lg"
      = f.submit "Save & Finish", :class => "btn btn-success btn-lg"
  = link_to 'Cancel', @occasion, :class=> "btn btn-default btn-lg"
