.panel-footer 
  = link_to "<span class='glyphicon glyphicon-trash'></span> Rescind Invite".html_safe, occasion_invitation_path(@occasion,invite), data: {confirm: 'Are you sure you want to rescind the invite?'}, remote: true, :method => :delete, :class => "btn btn-danger btn-sm pull-right"

  = form_for [@occasion,invite], remote: true, :html => {:role =>"form"} do |f|
    = f.hidden_field :contact_id
    = f.hidden_field :event_id
    .row
      .col-xs-3
        .form-group
          = f.label :response, "Response", :class => "control-label"
          = f.collection_select(:response,	@response, :name, :name,{}, class: "form-control")
      .col-xs-3
        .form-group
          = f.label :num_guests, "Guests attending", :class => "control-label"
          = f.number_field :num_guests, min:1, max: guest.max_guests, class: "form-control"
          .form-helptext Host sets max guests allowed
          
    = f.label :message, "Message from guest", :class => "control-label"
    = f.text_area :message, class: "form-control"
    .form-helptext Any notes about this particular event that you wish to tell the hosts?
    
    %br
    
    = f.submit "Save", class: "btn btn-primary"
    = link_to "<span class='glyphicon glyphicon-pencil'></span> Edit guest details".html_safe, edit_contact_path(guest), :class => "btn btn-default"