.container
  %h1 
    .pull-right= link_to 'New Event', new_occasion_event_path(@occasion), class: "btn btn-success"
    Events


  - if @events.present?
    %ul.list-group
      - @events.each do |event|
        %li.list-group-item
          %h4
            .pull-right
              = link_to edit_occasion_event_path(@occasion,event), data: {title: "Edit Event", placement: "bottom", trigger: "hover"},rel: "tooltip", class: "btn btn-primary btn-sm" do
                %span.glyphicon.glyphicon-pencil
              = link_to occasion_event_path(@occasion,event), method: :delete, data: {title: "Delete Event", placement: "bottom", trigger: "hover"},rel: "tooltip", class: "btn btn-danger btn-sm" do
                %span.glyphicon.glyphicon-trash
            =event.name
            %br
            %small.text-muted
              = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time.strftime('%l:%M%P')}"
              %br
              - unless event.address_1.blank?
                = link_to event.location, "https://www.google.com/maps/preview#!q=#{event.address}"
                = "| #{event.address}"
              - else
                = event.location
          %p=event.description


  -else
    .well.text-center{style: "background-color:#fff;"}
      %h3 No events found.
      =link_to "Add an event!", new_occasion_event_path(@occasion)