.container
  %h2 
    .pull-right= link_to 'New Event', new_occasion_event_path(@occasion), class: "btn btn-success"
    Events
    %small.text-muted="(#{pluralize(@events.count, 'event')} found)"
    
  %ul.list-group
    - if @events.present?
      - @events.each do |event|
        %li.list-group-item
          %h4
            .pull-right
              = link_to edit_occasion_event_path(@occasion,event), data: {title: "Edit Event", placement: "bottom", trigger: "hover"}, rel: "tooltip", class: "btn btn-link" do
                %span.glyphicon.glyphicon-pencil
              = link_to occasion_event_path(@occasion,event), method: :delete, data: {title: "Delete Event", placement: "bottom", trigger: "hover"},rel: "tooltip", confirm: 'Are you sure you want to delete this event?', class: "btn btn-link" do
                %span.glyphicon.glyphicon-trash
            =link_to event.name, occasion_event_path(@occasion,event)
            %br
            %small.text-muted
              = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time.strftime('%l:%M%P')}"
              %br
              - unless event.address_1.blank?
                = link_to event.location, "https://www.google.com/maps/preview#!q=#{event.address}"
                = "| #{event.address}"
              - else
                = event.location
          %p=event.description
        
          %ul.list-inline.well
            %li.text-danger
              %strong= event.rsvps.not_attending(event).count
              Not Attending
            %li.text-success
              %strong.text-success= event.rsvps.attending(event).count
              Attending
            %li
              %strong= event.rsvps.not_responded(event).count
              Not Responded


    -else
      .well.text-center
        %h3 No events found.
        =link_to "Add an event!", new_occasion_event_path(@occasion)