.content-full
  .content-nav
    %ul.list-inline
      %li=link_to "Updates", @occasion
      %li=link_to "Events", occasion_events_path(@occasion), style: "font-weight:bold;"
      %li=link_to "Invitations", occasion_invitations_path(@occasion)
  .content-header
    %h1
      %strong Events
      ="for #{@occasion.name}"
      
  .content-toolbar
    %h2
      ="#{pluralize(@events.count,'event')} found"
      = link_to 'Add more events', new_occasion_event_path(@occasion), :class => "btn btn-primary form-btn pull-right", style: "margin-top: -13px;"
    
  .content-body
    - if @events.present?
      - @events.each do |event|
        .results-row
          .row
            .small-12.columns
              .btn-group.pull-right
                = link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_occasion_event_path(@occasion,event),class: "btn btn-link btn-lg info-btn", data: {container: 'body', content: "edit this event", trigger: "hover", toggle: "popover"}
                = link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, occasion_event_path(@occasion, event), method: :delete, data: {confirm: 'Are you sure you want to delete this event?'},class: "btn btn-link btn-lg info-btn", data: {container: 'body', content: "delete this event", trigger: "hover", toggle: "popover"}

              %h3
                %strong= link_to event.name, occasion_event_path(@occasion,event)
              %p.subheader= event.description

    -else
      .row
        .small-12.columns
          %p.text-center
            You have no events.
            =link_to "Add an event!", new_occasion_event_path(@occasion)