%ul.nav.nav-pills
  %li.active
    =link_to occasion_events_path(@occasion) do
      Events
      %span.badge=@occasion.events.count
  %li
    =link_to occasion_contacts_path(@occasion) do
      Guests
      %span.badge=current_user.contacts.count


%h1 
  .pull-right= link_to 'New Event', new_occasion_event_path(@occasion), class: "btn btn-success"
  Events


- if @events.present?

  %table.table
    %tbody
    - @events.each do |event|
      %tr
        %td
        
          %h4=event.name
          %p
            .text-muted
              =event.description
              %span=link_to "edit", edit_occasion_event_path(@occasion,event)
          %p
            %strong= event.location
            -if event.address_1.present?
              ="#{event.address_1} #{event.address_2}"
            -if ((event.city.present? and event.state.present?) and (event.country == 'United States'))
              ="#{event.city}, #{event.state} #{event.zip}" 
            -if ((event.city.present? and event.region.present?) and (event.country != 'United States'))
              ="#{event.city}, #{event.region} #{event.postal_code}"
            -if event.country != 'United States'
              = event.country
            %br
            = event.start_date.strftime("%A, %B %e, %Y")
            at
            = event.start_time

        


-else
  .well.text-center
    %h3 No events found.
    =link_to "Add an event!", new_occasion_event_path(@occasion)