%ul.breadcrumbs
  %li=link_to @occasion.name, @occasion
  %li.current=@event.name
= link_to "Invite more guests", occasion_event_invite_guests_path(@occasion,@event), :class => "button right", data: {remote: true, "reveal-id" => "myModal"}

%h1=@event.name

%dl.sub-nav
  %dd=link_to "Recent Activity", "#recent"
  %dd=link_to "Details", "#details"
  %dd=link_to "Guest List", "#guestlist"

.row
  .columns.medium-6
    .panel#recent
      %h2 Recent Activity
  .columns.medium-6
    .panel#details
      =link_to "Actions","#",class: "tiny button dropdown right", "data-dropdown" =>"drop"
      %ul.f-dropdown#drop{"data-dropdown-content" => true}
        %li= link_to "Manage guest list", occasion_event_invite_guests_path(@occasion,@event), data: {remote: true}
        %li= link_to "Edit event", edit_occasion_event_path(@occasion, @event)
        %li.divider
        %li= link_to "Delete event", occasion_event_path(@occasion, @event), method: :delete,  remote: true, 'data-type' => 'json', data: {confirm: 'Are you sure you want to delete this event?'}

      %h2 Details
      %p            
        %span.glyphicon.glyphicon-calendar
        %strong Date and Time
        %br
        = @event.start_date.strftime("%A, %B %e, %Y")
        at
        = @event.start_time
      %p
        %span.glyphicon.glyphicon-map-marker
        %strong Location
        %br
        = link_to @event.location, "https://maps.google.com/maps?q=#{@event.address}",:target => "_blank"
        %br
        = "#{@event.address_1} #{@event.address_2 if @event.address_2.present? } <br>".html_safe if @event.address_1.present?
        = "#{@event.city}, #{@event.state} #{@event.zip}".html_safe if ((@event.city.present? or @event.zip.present?) and (@event.country == 'United States'))
        = "#{event.city}, #{event.region} #{event.postal_code} <br>".html_safe if ((!@event.region.blank? or !@event.postal_code.blank?) and (@event.country != 'United States'))
        = "#{event.country}" if @event.country != 'United States'

      %p
        %span.glyphicon.glyphicon-info-sign
        %strong Description
        %br
        = @event.description

    .panel#guestlist
      %h2
        ="Guest List"
        %small="#{pluralize(@invites.sum(:num_guests),'guest')}"
      %br
      -if @invites.present?
        -if @attending.present?
          %h5#attending
            ="Attending (#{@attending.sum(:num_guests)})"
          %p
            - @attending.each do |invite|
              - guest = Contact.find(invite.contact_id)
              =link_to guest.invite_name, occasion_invitations_path(@occasion, guest_id: guest), data: {remote: true, "reveal-id" => "myModal"}
              %span.subheader="(#{invite.num_guests})"
              - if invite.message.present?
                %span.subheader.has-tip{"data-tooltip" => true,title:invite.message} message
              %br
        -if @might_attend.present?
          %h5#might_attend
            ="Might Attend (#{@might_attend.sum(:num_guests)})"
          %p
            - @might_attend.each do |invite|
              - guest = Contact.find(invite.contact_id)
              =link_to guest.invite_name, occasion_invitations_path(@occasion, guest_id: guest), data: {remote: true, "reveal-id" => "myModal"}
              %span.subheader="(#{invite.num_guests})"
              %span.text-muted=invite.message
              %br
          %hr
        -if @not_attend.present?
          %h5#not_attend
            ="Not Attending (#{@not_attend.sum(:num_guests)})"
          %p
            - @not_attend.each do |invite|
              - guest = Contact.find(invite.contact_id)
              =link_to guest.invite_name, occasion_invitations_path(@occasion, guest_id: guest), data: {remote: true, "reveal-id" => "myModal"}
              %span.subheader="(#{invite.num_guests})"
              %span.text-muted=invite.message
              %br
          %hr
        -if @not_responded.present?
          %h5#not_responded
            ="Not Responded (#{@not_responded.sum(:num_guests)})"
          %p
            - @not_responded.each do |invite|
              - guest = Contact.find(invite.contact_id)
              =link_to guest.invite_name, occasion_invitations_path(@occasion, guest_id: guest), data: {remote: true, "reveal-id" => "myModal"}
              %span.subheader="(#{invite.num_guests})"
              %span.text-muted=invite.message
              %br
= render "layouts/modal"