= form_for [@occasion,@invitation], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
  .panel.panel-default
    .panel-body
      %h2 Next, select the events that you will be able to attend.
    %table.table
      %thead
        %tr
          %th{style:"width:70%"} Events
          %th{style:"width:30%"} Response
      %tbody

        = f.fields_for :rsvps do |rsvp|
          %tr{style: rsvp.object.visibility ? "" : "display:none;"}
            %td
              = rsvp.hidden_field(:event_id)
              - event = Event.find(rsvp.object.event_id)
              %strong=event.name
              %p
                %small.text-muted
                  = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time}"
                  %br
                  - unless event.address_1.blank?
                    = link_to event.location, "https://www.google.com/maps/preview#!q=#{event.address}"
                    = "| #{event.address}"
                  - else
                    = event.location
              %p=event.description

            %td
              .form-group                
                %label.radio-inline
                  = rsvp.radio_button :response, "Attending"
                  Attending           
                %label.radio-inline
                  = rsvp.radio_button :response, "Not Attending"
                  Not Attending
                    
  .form-group.pull-right
    = f.submit "Next", :class => "btn btn-success btn-lg"
  .form-group
    = link_to 'Previous', previous_wizard_path, :class=> "btn btn-default btn-lg"