= form_for [@occasion,@guest], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
  .well
    %legend
      =@guest.full_name
      %small
        (Select the events that you will be able to attend.)
      

    %fieldset
      %table.table
        %thead
          %tr
            %th{style:"width:70%"} Event name
            %th{style:"width:30%"} Response & Special notes
        %tbody
  
          = f.fields_for :rsvps do |rsvp|
            %tr{style: rsvp.object.visibility ? "" : "display:none;"}
              %td
                = rsvp.hidden_field(:event_id)
                - event = Event.find(rsvp.object.event_id)
                %strong=event.name
                %p=event.description
                %small.text-muted
                  = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time}"
                  %br
                  - unless event.address_1.blank?
                    = link_to event.location, "https://www.google.com/maps/preview#!q=#{event.address}"
                    = "| #{event.address}"
                  - else
                    = event.location
              %td
                .form-group
                  .radio
                    %label
                      = rsvp.radio_button :response, "Attending"
                      Attending
                  .radio
                    %label
                      = rsvp.radio_button :response, "Might Attend"
                      Might Attend
                  .radio
                    %label
                      = rsvp.radio_button :response, "Not Attending"
                      Not Attending
                    
                .form-group
                  = rsvp.text_area :message, :rows => 2, class: "form-control input-sm", :placeholder => "Add any allergies, music preference, etc."
  .form-group.pull-right
    = f.submit "Save & Finish", :class => "btn btn-success btn-lg"
  .form-group
    = link_to 'Previous', previous_wizard_path, :class=> "btn btn-default btn-lg"