= form_for [@occasion,@invitation], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
  .panel.panel-default
    .panel-body
      %h2 Next, select the events that you will be able to attend.
    %ul.list-group
      %li.list-group-item
        = f.fields_for :rsvps, @invitation.rsvps.where(visibility: true) do |rsvp|
          .row{style: rsvp.options[:child_index] != 0 ? "margin-top:30px;" : ""}
            .col-sm-6
              - event = Event.find(rsvp.object.event_id)
            
              %h3{style:"margin-top:0px;margin-bottom:0px;"}=event.name
              %p.text-muted{style:"margin-top:0px;"}
                = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time}"
                %br
                - unless event.address_1.blank?
                  = link_to event.location, "https://www.google.com/maps/preview#!q=#{event.address}"
                  = "| #{event.address}"
                - else
                  = event.location
              %p=event.description

            .col-sm-6
              .form-group                
                %label.radio-inline
                  = rsvp.radio_button :response, "Attending"
                  Attending           
                %label.radio-inline
                  = rsvp.radio_button :response, "Not Attending"
                  Not Attending
                    
  .form-group.pull-right
    = f.submit "Next", :class => "btn btn-success btn-lg"
  .form-group
    = link_to 'Previous', previous_wizard_path, :class=> "btn btn-default btn-lg"