= form_for [@occasion,@household], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
  .well
    %h3 First, let's make sure we have the right name and contact information for you.
    
    = f.fields_for :guests do |guest|
      .row
        .col-sm-3
          .form-group
            = guest.collection_select(:title,	@title, :name, :name, {:include_blank => true}, {class: "form-control"})
        .col-sm-4
          .form-group
            = guest.text_field :first_name, :maxlength => 50, class: "form-control", :placeholder => "First name"
        .col-sm-5
          .form-group
            = guest.text_field :last_name, :maxlength => 50, class: "form-control", :placeholder => "Last name"
    
    .form-group{class: @household.errors.include?(:email) ? 'has-error' : ''}
      = f.label :email, class: "control-label" do
        Email
      = f.text_field :email, :maxlength => 50, class: "form-control"
      %span.help-block= @household.errors.get(:email).join('; ')
  
  .form-group.pull-right
    = f.submit "Next", :class => "btn btn-success btn-lg"