= form_for [@occasion,@invitation], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
  .panel.panel-default
    .panel-body
      %h3 Now, select the events that you will be able to attend.
    %ul.list-group.text-center
      - @invitation.events.uniq.each do |event|
        %li.list-group-item
          %h4
            %strong=event.name
            %small
              %br
                = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time}"
                %br
                - unless event.address_1.blank?
                  = link_to event.location, "https://www.google.com/maps/preview#!q=#{event.address}"
                  = "| #{event.address}"
                - else
                  = event.location
          %p=event.description
          
          .row
            .col-sm-6.col-sm-offset-3
              %table.table
                %thead
                  %tr
                    %th{style:"width:50%"} Guest name
                    %th{style:"width:50%"} Response
                %tbody
                  = f.fields_for :rsvps, @invitation.rsvps.where(:event_id => event.id) do |rsvp|
                    %tr{style: rsvp.object.visibility ? "" : "display:none;"}
                      %td.text-left
                        = rsvp.object.guest.full_name
                      %td
                        %label.radio-inline
                          = rsvp.radio_button :response, "Attending"
                          Attending           
                        %label.radio-inline
                          = rsvp.radio_button :response, "Not Attending"
                          Not Attending
                        
  .form-group.pull-right
    = f.submit "Save & Finish", :class => "btn btn-success btn-lg"
  .form-group
    = link_to 'Previous', previous_wizard_path, :class=> "btn btn-default btn-lg"
  