.container
  .well.well-sm.hidden-print{style: "background-color:#fff;"}

    %ul.list-inline
      %li= link_to "Guest Information", occasion_invitation_rsvp_path(@occasion, @invitation,:guest_info), style: "color: #b4bcc2;"
      %li= link_to "Events", occasion_invitation_rsvp_path(@occasion, @invitation,:events), style: "color: #b4bcc2;"
      %li= link_to "Guestbook", occasion_invitation_rsvp_path(@occasion, @invitation,:guestbook), style: "color: #b4bcc2;"
      %li= link_to "Confirmation", occasion_invitation_rsvp_path(@occasion, @invitation,:confirmation), style: "font-weight: bold;"

  %h1 Confirmation
  
  .alert.alert-success.hidden-print
    Thanks for your RSVP.  You're all set!
    
  .panel.panel-default
    .panel-body
      .row
        .col-lg-6
          %h2{style:"margin-top:0px;font-weight:bold;"}
            = @invitation.household.guests.where("first_name != ? AND last_name != ?", "", "").map(&:full_name).join(', ')
          %p= link_to @invitation.household.email, "mailto:#{@invitation.household.email}" if @invitation.household.email.present? 
        .col-lg-6
          - if @invitation.message.present?
            %p.lead
              %em= "\"#{@invitation.message}\""
               
      - @events.each do |event|
        - if @invitation.household.rsvps.where(:event_id => event.id, :visibility => true).count > 0
          .row
            .col-lg-6
              %h3{style:"margin-top:0px;margin-bottom:0px;"}=event.name
              %p.text-muted{style:"margin-top:0px;"}
                = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time.strftime('%l:%M%P')}"
                %br
                - unless event.address_1.blank?
                  = link_to event.location, "https://www.google.com/maps/preview#!q=#{event.address}"
                  = "| #{event.address}"
                - else
                  = event.location
              %p=event.description


            .col-lg-6
              %table.table
                %thead
                  %tr
                    %th{style:"width:50%"} Guest name
                    %th{style:"width:50%"} Response
                %tbody
                  - @invitation.household.rsvps.where(:event_id => event.id, :visibility => true).each do |rsvp|                  
                    %tr
                      %td
                        - if rsvp.guest.first_name != "" && rsvp.guest.last_name != ""
                          = rsvp.guest.full_name
                        - else 
                          %em.text-muted Additional guest not needed
                      %td{class: rsvp.response == "Attending" ? "text-success" : rsvp.response == "Not Attending" ? "text-danger" : ""}=rsvp.response
  %button.hidden-print{id:"print", onclick:"javascript:print()", value:"Print", class: "btn btn-primary btn-lg btn-block"} Print this page