.container
  %ul.list-inline
    %li.text-muted 1. Guest Information
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li.text-muted 2. RSVP
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li.text-muted 3. Guestbook
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li.text-primary
      %strong 4. Confirmation
  
  .alert.alert-success Thanks for your RSVP.  You're all set!
  %button.pull-right{id:"print", onclick:"javascript:print()", value:"Print", class: "btn btn-link"} Print this page
  
  %h2 Confirmation
    
  %ul.list-group
    %li.list-group-item

      %h3{style:"margin-top:0px;font-weight:bold;"}
        = @invitation.guests.where("first_name != ? AND last_name != ?", "", "").map(&:full_name).join(', ')
      %p= link_to @invitation.email, "mailto:#{@invitation.email}" if @invitation.email.present?
    %li.list-group-item        
      - @events.each do |event|
        - if @invitation.rsvps.where(:event_id => event.id, :visibility => true).count > 0
          .row
            .col-md-6
              %h4{style:"margin-top:0px;margin-bottom:0px;"}=event.name
              %p.text-muted{style:"margin-top:0px;"}
                = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time.strftime('%l:%M%P')}"
                %br
                - unless event.address_1.blank?
                  = link_to event.location, "https://www.google.com/maps/preview#!q=#{event.address}"
                  = "| #{event.address}"
                - else
                  = event.location
              %p=event.description


            .col-md-6
              %table.table
                %thead
                  %tr
                    %th{style:"width:50%"} Guest name
                    %th{style:"width:50%"} Response
                %tbody
                  - @invitation.rsvps.where(:event_id => event.id, :visibility => true).each do |rsvp|                  
                    %tr
                      %td
                        - if rsvp.guest.last_name != ""
                          = rsvp.guest.full_name
                        - else 
                          %em.text-muted Additional guest not needed
                      %td{class: rsvp.response == "Attending" ? "text-success" : rsvp.response == "Not Attending" ? "text-danger" : ""}=rsvp.response
    - if @invitation.message.present?
      %li.list-group-item
        %p.lead
          %em= "\"#{@invitation.message}\""
    
    %li.list-group-item.list-group-item.text-center
      .row
        .col-md-6
          %strong Have a wedding coming up soon?
          %br 
          Let us manage your RSVPs for you.
        .col-md-6
          = link_to "Sign up for Invitedly!", new_user_registration_path, class: "btn btn-primary"