%ul.list-inline
  %li
    %strong Guest Information
  %li.text-muted Events
  %li.text-muted Confirmation

.row
  .col-sm-7.col-md-6
    %h1 Guest Information
    
    = form_for [@occasion,@guest], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
      %h3 Guest Information

      %fieldset
        - if @guest.is_family
          .form-group#household_name{class: @guest.errors.include?(:household_name) ? 'has-error' : ''}
            = f.label :household_name, class: "control-label" do
              Family, Group, or Household Name
              %span{style: "color:red"}*
            = f.text_field :household_name, :autofocus => true, :maxlength => 50, class: "form-control"
            %span.help-block= @guest.errors.get(:household_name).join('; ')
        .row
          .col-md-2
            .form-group{class: @guest.errors.include?(:title) ? 'has-error' : ''}
              = f.label :title, class: "control-label" do
                Title
              = f.collection_select(:title,	@title, :name, :name, {:include_blank => true}, {class: "form-control"})
              %span.help-block= @guest.errors.get(:title).join('; ')
          .col-md-4
            .form-group{class: @guest.errors.include?(:first_name) ? 'has-error' : ''}
              = f.label :first_name, class: "control-label" do
                First Name
                %span{style: "color:red"}*
              = f.text_field :first_name, :autofocus => true, :maxlength => 50, class: "form-control"
              %span.help-block= @guest.errors.get(:first_name).join('; ')            
          .col-md-6
            .form-group{class: @guest.errors.include?(:last_name) ? 'has-error' : ''}
              = f.label :last_name, class: "control-label" do
                Last Name
                %span{style: "color:red"}*
              = f.text_field :last_name, :autofocus => true, :maxlength => 50, class: "form-control"
              %span.help-block= @guest.errors.get(:last_name).join('; ')
        #guests
          = f.fields_for :guests do |guest|
            = render 'guest_fields', :f => guest
          = link_to_add_association 'Add a +1', f, :guests, :class => "btn btn-primary btn-xs pull-right"

        %br

        .form-group{class: @guest.errors.include?(:email) ? 'has-error' : ''}
          = f.label :email, class: "control-label" do
            Preferred Email
            %span{style: "color:red"}*
          = f.text_field :email, :maxlength => 50, class: "form-control"
          %span.help-block= @guest.errors.get(:email).join('; ')

        .row
          .col-md-6
            .form-group
              = f.label :home_phone, "Home Phone", class: "control-label"
              = f.telephone_field :home_phone, class: "form-control"
          .col-md-6
            .form-group
              = f.label :cell_phone, "Cell Phone", class: "control-label"
              = f.telephone_field :cell_phone, class: "form-control"
      

      %h3 Address

      %fieldset
        .row
          .col-md-7
            .form-group
              = f.label :address_1, "Address 1"
              = f.text_field :address_1, :maxlength => 100, class: "form-control"
          .col-md-5
            .form-group
              = f.label :address_2, "Address 2"
              = f.text_field :address_2, :maxlength => 100, class: "form-control"
        .row
          .col-md-5
            .form-group      
              = f.label :city, "City"
              = f.text_field :city, :maxlength => 100, class: "form-control"
          .col-md-4.domestic
            .form-group
              = f.label :state, "State"
              = f.collection_select :state,	@state, :name, :name, {prompt: "Please select..."}, {class: "form-control"} 
          .domestic.col-md-3
            .form-group
              = f.label :zip, "Zip"
              = f.text_field :zip, :maxlength => 5, class: "form-control"
          .international.col-md-4
            .form-group
              = f.label :region, "Region"
              = f.text_field :region, :maxlength => 100, class: "form-control"
          .international.col-md-3
            .form-group
              = f.label :postal_code, "Postal Code"
              = f.text_field :postal_code, :maxlength => 20, class: "form-control"
        .form-group
          = f.label :country, "Country"
          = f.collection_select(:country,	@country, :name, :name, {}, {class: "form-control",:id => "countrySelect"})




      = f.submit "Next", :class => "btn btn-success btn-lg"

