%ul.list-inline
  %li.text-muted Guest info
  %li
    %strong Events
  %li.text-muted Confirmation

%h1 Events
= form_for [@occasion,@guest], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|


  = f.fields_for :invitation do |invitation|
    = render 'invitation_fields', :f => invitation
  = link_to 'Previous', previous_wizard_path, :class=> "btn btn-default btn-lg"            
  = f.submit "Save & Finish", :class => "btn btn-success btn-lg"


