.container
  %ul.list-inline
    %li.text-primary
      %strong 1. Guest Information
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 2. RSVP
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 3. Guestbook
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 4. Confirmation


  %h2 Guest Information

  = form_for [@occasion,@invitation], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
    .panel.panel-default
      .panel-body
        %h3
          %strong First, check your names and contact information.
      %ul.list-group
        %li.list-group-item
          .row
            .col-md-8
              .form-group
                = f.label :guests, "Guest names"
                = f.fields_for :guests do |guest|
                  .row
                    .form-group.col-sm-3
                      = guest.collection_select(:title,	@title, :name, :name, {:prompt => "Select"}, {class: "form-control"})
                    .form-group.col-sm-4
                      = guest.text_field :first_name, :maxlength => 50, class: "form-control", :placeholder => "First name"
                    .form-group.col-sm-5
                      = guest.text_field :last_name, :maxlength => 50, class: "form-control", :placeholder => "Last name"
                %span.help-block Please correct any mistakes you find.

              .form-group
                = f.label :email, class: "control-label"
                = f.text_field :email, :maxlength => 50, class: "form-control"
                %span.help-block You can optionally add an email address (in case we need to contact you later).

    .form-group.pull-right
      = f.submit "Next", :class => "btn btn-success btn-lg"