!!!
%html{lang: "en"}
  %head
    %title 
      =@occasion.name
      @ Invitedly
    %link{href: "http://fonts.googleapis.com/css?family=Pacifico", rel: "stylesheet", type: "text/css"}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "vendor/modernizr"
    = csrf_meta_tags
    =favicon_link_tag "/assets/favicon.ico"
    %body
      - if notice.present?
        .alert-box{"data-alert" => true}
          =notice
          =link_to "&times;".html_safe, "#", class: "close"
      - if alert.present?
        .warning.alert-box{"data-alert" => true}
          =alert
          =link_to "&times;".html_safe, "#", class: "close"
      .row
        .small-12.columns
          %h1="#{@occasion.name}"
          %p="#{@occasion.description}"
        
          =link_to "Fill up our address book!", "#"
          =link_to "RSVP", "#"
          .row
            .medium-6.columns
            
            =form_tag occasion_begin_rsvp_flow_path(@occasion) do
              %p 
                Please enter your code below:                  
                .row.collapse
                  .small-10.columns
                    =text_field_tag "contact_id", nil,:placeholder => "Invitation Code"           
                  .small-2.columns
                    =submit_tag "RSVP", :class => "secondary button postfix"

              =form_tag occasion_begin_rsvp_flow_path(@occasion) do
                %p 
                  Please enter your code below:                  
                  .row.collapse
                    .small-10.columns
                      =text_field_tag "contact_id", nil,:placeholder => "Invitation Code"           
                    .small-2.columns
                      =submit_tag "RSVP", :class => "secondary button postfix"

              


      = javascript_include_tag "application"