.content-full
  .content-nav
    %ol.breadcrumb
      %li=link_to @occasion.name, @occasion
      %li=link_to @event.name, [@occasion,@event]
      %li.active Guests
  .content-header
    %h1 Guests
  .content-body

    .row
      .col-xs-3
        = link_to 'Invite more guests', new_occasion_invitation_path(@occasion),class: "btn btn-primary btn-block"
        %br
        .list-group
          =link_to "Recent Activity", [@occasion,@event], class:"list-group-item"
          =link_to occasion_event_rsvps_path(@occasion,@event), class:"list-group-item active" do
            Guests
            %span.badge=@event.rsvps.count

      .col-xs-9
        - if @rsvps.present?
          .list-group
            - @rsvps.each do |rsvp|
              =link_to occasion_invitation_path(@occasion,rsvp.invitation_id), class: "list-group-item" do
                %h4.list-group-item-heading= Contact.find(rsvp.contact_id).household_name
                %p.list-group-item-text
        -else
          .well.text-center
            %h3 No guests invited. 
          
            -if current_user.contacts.present?
              = link_to 'Invite guests!', new_occasion_invitation_path(@occasion), :class => "btn btn-link"
            -else
              = link_to 'Invite guests!', user_omniauth_authorize_path(:facebook), :class => "btn btn-link"

= render "layouts/modal"