.container
  %ul.list-inline
    %li.text-primary
      %strong 1. Wedding information
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 2. About the couple
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 3. Get started!
  
  %h2 Wedding Information
  
  = form_for @user, :url => wizard_path, :method => :put, :html => { :role => "form"} do |f|
    %ul.list-group
      %li.list-group-item
        %h4
          %strong First, tell us about the wedding!
      %li.list-group-item
        .row
          .col-md-8
            %fieldset
              = f.fields_for :occasion do |occasion|
                .form-group{class: occasion.object.errors.include?(:name) ? 'has-error has-feedback' : ''}
                  = occasion.label :name, "Wedding name #{occasion.object.errors.get(:name).join('; ') if occasion.object.errors.include?(:name)}", class: "control-label"
                  = occasion.text_field :name, :autofocus => true, class: "form-control", :placeholder => "John and Mary's Wedding!"
                  %span{class: occasion.object.errors.include?(:name) ? 'glyphicon glyphicon-remove form-control-feedback' : ''}
                  %span.help-block This is publicly displayed on your RSVP site
    

                .form-group{class: occasion.object.errors.include?(:description) ? 'has-error has-feedback' : ''}
                  = occasion.label :description, "Description #{occasion.object.errors.get(:description).join('; ') if occasion.object.errors.include?(:description)}", class: "control-label"
                  = occasion.text_area :description, :rows => 5, :class => "form-control", :placeholder => "We're celebrating the marriage of John and Mary.  Please join us on this special occasion!"
                  %span{class: occasion.object.errors.include?(:description)? 'glyphicon glyphicon-remove form-control-feedback' : ''}
                  %span.help-block This is publicly displayed on your RSVP site
      
                .form-group{class: occasion.object.errors.include?(:slug) ? 'has-error has-feedback' : ''}
                  = occasion.label :slug, "Custom URL #{occasion.object.errors.get(:slug).join('; ') if occasion.object.errors.include?(:slug)}", class: "control-label"
                  .input-group
                    %span.input-group-addon http://www.invitedly.com/
                    = occasion.text_field :slug, :placeholder => "johnandmary", :maxlength => 20, class: "form-control"      
                  %span.help-block Send your friends and family here to collect guest info
        


    = f.submit "Next", :class => "btn btn-success btn-lg pull-right"