= form_for [@occasion,@invitation], :html => { :role => "form"} do |f|
  %h3 Invitation details
  =f.label :contact_id, "Guest name"
  =f.select(:contact_id,	options_from_collection_for_select(@contacts, :id, :household_name), { :prompt => 'Choose a guest...' })

  =f.label :rsvps, "Events"
  = f.fields_for :rsvps do |rsvp|
    = rsvp.hidden_field(:event_id)
    = Event.find(rsvp.object.event_id).name

  %h3 Invitation settings

  .row
    .columns.small-6
      = label_tag :send_date, "Send Invitation Date"
      = text_field_tag :send_date,"", :class => "datepicker"
    .columns.small-6
      = label_tag :send_reminder, "Send Reminder"
      =select_tag(:send_reminder,	options_from_collection_for_select(@contacts, :household_name, :household_name), { :prompt => 'Send a reminder every...' })
  .row
    .columns.small-12              
      %label Would you like us to send an additional invitation via email?
      = radio_button_tag :send_via_email, "Yes", checked: true
      = label_tag :send_via_email_Yes, "Yes"
      = radio_button_tag :send_via_email, "No"
      = label_tag :send_via_email_No, "No"
  .row
    .columns.small-12              
      %label Would you want us to present the option to send a gift, even if the guest can't make it?
      = radio_button_tag :ask_for_gift, "Yes", checked: true
      = label_tag :ask_for_gift_Yes, "Yes"
      = radio_button_tag :ask_for_gift, "No"
      = label_tag :ask_for_gift_No, "No"

  = f.label :code, "In case we don't have an email address for the guest, you can give them this special link:"
  = f.text_field :code, {:value => "http://www.invitedly.com/occasionname/invitationcode", :disabled => true}
      
  .pull-right
    = f.submit "Save & Invite more", :class => "btn btn-primary form-btn"
    = f.submit "Save & Finish", :class => "btn btn-success form-btn"
  = link_to 'Cancel', :back, :class=> "btn btn-default form-btn"