= form_for [@occasion,@invitation], :html => {:role =>"form"} do |f|
  %ul.list-group
    %li.list-group-item
      %h4.text-warning
        %strong Who's coming?
        %small Tell us more about the guests in this party
    %li.list-group-item
      .row
        .col-md-8
          .form-group{class: @invitation.errors.include?(:name) ? 'has-error' : ''}
            = f.label :name, "Invitation Name", class: "control-label"
            = f.text_field :name, placeholder: "Invitation Name", :autofocus => true, :maxlength => 50, class: "form-control"
            - if @invitation.errors.include?(:name)
              %span.help-block=@invitation.errors.get(:name).join('; ')
            - else
              %span.help-block This name is private and won't be shared with the guests.  

          = f.label :guests, "Guest Names", class: "control-label"
          #guests  
            = f.fields_for :guests do |guest|
              = render 'invitations/guest_fields', :f => guest
            .links
              = link_to_add_association 'Add another guest', f, :guests, :class => "", :partial => 'invitations/guest_fields'
          
    %li.list-group-item
      %h4.text-warning
        %strong Let's stay in touch  
        %small Add contact info
    %li.list-group-item
      .row
        .col-md-8
          .form-group{class: @invitation.errors.include?(:email) ? 'has-error' : ''}
            = f.label :email, class: "control-label"
            
            .input-group
              %span.input-group-addon
                = f.label :has_email, style: "font-weight:normal;" do
                  = f.check_box :has_email
                  Has Email
              = f.text_field :email, :maxlength => 50, class: "form-control"
            %span.help-block Guests with an email will recieve invitations with a link to RSVP, reminders, and confirmation emails.
      
          %fieldset
            = f.label :location, class: "control-label" do
              Address (optional)

            .row
              .col-sm-7
                .form-group
                  = f.text_field :address_1, placeholder: "Address 1", :maxlength => 100, class: "form-control"
              .col-sm-5
                .form-group
                  = f.text_field :address_2, placeholder: "Address 2", :maxlength => 100, class: "form-control"
            .row
              .col-sm-5
                .form-group      
                  = f.text_field :city, placeholder: "City", :maxlength => 100, class: "form-control"
              .col-sm-4.domestic
                .form-group
                  = f.collection_select :state,	@state, :name, :name, {prompt: "Please select..."}, {class: "form-control"} 
              .domestic.col-sm-3
                .form-group
                  = f.text_field :zip, placeholder: "Zip", :maxlength => 5, class: "form-control"
              .international.col-sm-4
                .form-group
                  = f.text_field :region, placeholder: "Region", :maxlength => 100, class: "form-control"
              .international.col-sm-3
                .form-group
                  = f.text_field :postal_code, placeholder: "Postal Code", :maxlength => 20, class: "form-control"

            .form-group
              = f.collection_select(:country,	@country, :name, :name, {:selected => @invitation.country.blank? ? "United States" : @invitation.country}, {class: "form-control",:id => "countrySelect"})
    
            .row
              .col-sm-5
                .form-group
                  = f.label :cell_phone, class: "form-label"
                  = f.text_field :cell_phone, :maxlength => 100, class: "form-control"
              .col-sm-5
                .form-group
                  = f.label :home_phone, class: "form-label"
                  = f.text_field :home_phone, :maxlength => 100, class: "form-control"
    -if @occasion.user = current_user
      %li.list-group-item
        %h4.text-warning
          %strong Notes
          %small Add notes & tags
      %li.list-group-item      
        .row
          .col-md-8
            .form-group
              = f.label :notes, "Private Notes", class: "control-label"
              = f.text_area :notes, {:rows => 5, :maxlength => 500, class: "form-control"}
              %span.help-block These notes are private and won't be shared with the guests.
    
            .form-group
              = f.label :tag_list, "Tags (separated by commas)"
              = f.text_field :tag_list, class: "form-control", :placeholder => "Bride, Groom, Tier 1, etc."

  .form-group
    = f.submit "Next", :class => "btn btn-success btn-lg pull-right"