.nested-fields
  .row
    .col-sm-1
      .form-group    
        = link_to_remove_association f, :class => "btn btn-link", style: "color:#E41313;" do
          %span.glyphicon.glyphicon-trash
    .col-sm-2
      .form-group
        = f.label :title, class: "sr-only"
        = f.collection_select(:title,	@title, :name, :name, {:prompt => "Select"}, {class: "form-control"})
    .col-sm-3
      .form-group{class: f.object.errors.include?(:first_name) ? 'has-error' : ''}
        = f.label :first_name, class: "sr-only"
        = f.text_field :first_name, class: "form-control", placeholder: "First Name"
        - if f.object.errors.include?(:first_name)
          %span.help-block=f.object.errors.get(:first_name).join('; ')
    .col-sm-3
      .form-group{class: f.object.errors.include?(:last_name) ? 'has-error' : ''}
        = f.text_field :last_name, class: "form-control", placeholder: "Last Name"
        - if f.object.errors.include?(:last_name)
          %span.help-block=f.object.errors.get(:last_name).join('; ')
    .col-sm-3
      .form-group
        = f.label :is_child, style: "font-weight:normal;" do
          = f.check_box :is_child
          Child (under 10)
      
        = f.label :is_additional_guest, style: "font-weight:normal;" do
          = f.check_box :is_additional_guest
          Mark as +1