.nested-fields
  .panel.panel-default
    .panel-heading        
      %fieldset
        .checkbox
          = f.label :is_additional_guest do
            = f.check_box :is_additional_guest
            I do not know this guest's name
      %fieldset
        %label
          Guest name
          %span{style: "color:red"}*
        .row
          .col-sm-3
            .form-group
              = f.label :title, class: "sr-only"
              = f.collection_select(:title,	@title, :name, :name, {:prompt => "Select"}, {class: "form-control"})
          .col-sm-4
            .form-group{class: f.object.errors.include?(:first_name) ? 'has-error' : ''}
              = f.label :first_name, class: "sr-only"
              = f.text_field :first_name, class: "form-control", placeholder: "First Name"
              - if f.object.errors.include?(:first_name)
                %span.help-block=f.object.errors.get(:first_name).join('; ')
          .col-sm-5
            .form-group{class: f.object.errors.include?(:last_name) ? 'has-error' : ''}
              = f.text_field :last_name, class: "form-control", placeholder: "Last Name"
              - if f.object.errors.include?(:last_name)
                %span.help-block=f.object.errors.get(:last_name).join('; ')
    .panel-body
      
      %em Select the events to which this guest is invited:
      - @events.each_with_index do |event,index|              
        = f.fields_for :rsvps, Rsvp.find_or_initialize_by(:guest_id => f.object.id, :event_id => event.id) do |rsvp|
          .checkbox
            = rsvp.label :visibility do
              = rsvp.check_box :visibility
              =event.name
            =rsvp.hidden_field :event_id, :value => event.id
    .panel-footer
      = link_to_remove_association f, :class => "btn btn-danger" do
        %span.glyphicon.glyphicon-trash
        Delete guest