.nested-fields
  .row
    .col-sm-2
      .form-group
        = f.label :title, class: "control-label"
        = f.collection_select(:title,	@title, :name, :name, {:include_blank => true}, {class: "form-control"})
    .col-sm-3
      .form-group
        = f.label :first_name, class: "control-label"
        = f.text_field :first_name, class: "form-control"
    .col-sm-4
      .form-group
        = f.label :last_name, class: "control-label"
        = f.text_field :last_name, class: "form-control"
    .col-sm-2
      .form-group
        = link_to_remove_association "Remove guest", f, :class => "btn btn-danger"