%h2.form-h2
  Guest list
  %small="#{pluralize(@guests.count, 'guest')} found"

.panel-group#accordion
  - @guests.each do |guest|
    .panel.panel-default{data: {guest_id: guest.id}}
      .panel-body
        %strong=link_to guest.invite_name, "#guest_#{guest.id}", data: {toggle: "collapse", parent: "#accordion"}          
      .panel-collapse.collapse{id: "guest_#{guest.id}"}
        .panel-footer
          - invites = Invitation.where(contact_id: guest.id)          
          - invites.each do |invite|
            %ul.list-group{id: "row#{invite.id}"}
              %li.list-group-item
                = render "invitations/invite_fields", :guest => guest, :invite => invite
%p.text-center#no_row_found
  %em No guests invited


