= form_tag update_invites_occasion_events_path(@occasion,:guest_id => @guest), :method => :put, :html => {:role =>"form"} do |f|

  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
    .modal-title
      .text-muted=@guest.invite_name
      %h2 Manage invitations
  .modal-body
    - @invitations.each do |invitation|
      %h3.form-h2
        =Event.find(invitation.event_id).name
      = fields_for "invitations[]", invitation do |f|
        .row
          .col-sm-4
            .form-group
              = f.label :response, :class => "control-label"
              = f.collection_select(:response,	@response, :name, :name,{}, class: "form-control")
          .col-sm-3
            .form-group
              = f.label :num_guests, "Total guests", :class => "control-label"
              = f.select(:num_guests, options_for_select((1..@guest.max_guests).to_a,{:selected => @guest.max_guests}),{}, class: "form-control")
        = f.label :message, "Message from guest", :class => "control-label"
        = f.text_area :message, maxlength: 300, rows:3, class: "form-control"
  .modal-footer
    %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
    =submit_tag "Done", :class => "btn btn-primary"
  


