- if @invitations.present?
  .panel.panel-default
    .panel-body        
      .pull-right
        %strong View:
        - if params[:view] == "guest"
          = link_to "Invitations", occasion_invitations_path(@occasion)
        - else
          Invitation
        |
        - unless params[:view] == "guest"
          = link_to "Guests", occasion_invitations_path(@occasion, view: "guest")
        - else
          Guests
            
          
      %strong Download:
      = link_to "CSV", occasion_invitations_path(@occasion, format: "csv")
    .table-responsive
      %table.table.table-striped.table-bordered#invitation
        %thead
          %tr
            %th 
            - @occasion.events.each do |event|
              %th.text-center{colspan:3}
                =event.name
                ="(#{Rsvp.where(:visibility => true, :event_id => event).count})"
        %thead
          %tr
            %th Invitation name
            - @occasion.events.each do |event|
              %th.text-success
                Y
                ="(#{Rsvp.where(:visibility => true, :event_id => event, :response => "Attending").count})"
              %th.text-danger
                N
                ="(#{Rsvp.where(:visibility => true, :event_id => event, :response => "Not Attending").count})"
              %th 
                ?
                ="(#{Rsvp.where(:visibility => true, :event_id => event, :response => "Not Responded").count})"
        %tbody
          - @invitations.each do |invitation|
            %tr
              %td
                = link_to invitation.household.name, "#", data: {html: true, title: invitation.household.name, content: "#{render 'invitation_info', :invitation => invitation, :occasion => @occasion}", trigger: "click", toggle: 'popover'}, rel: "popover", style: invitation.status == "Responded" ? "color: #18bc9c;" : "color: #2c3e50;"
                    
                -if invitation.household.tags.present?
                  %br
                  - invitation.household.tags.each do |t| 
                    %span.label.label-info=t
                %br
                %small="Last updated #{time_ago_in_words(invitation.updated_at)} ago"

              - @occasion.events.each do |event|
                - attending = []
                - not_attending = []
                - not_responded = []
                - for rsvp in invitation.rsvps
                  - case
                    - when rsvp.event_id == event.id && rsvp.response == "Attending" && rsvp.visibility == true
                      - attending.push(rsvp.guest.full_name)
                    - when rsvp.event_id == event.id && rsvp.response == "Not Attending" && rsvp.visibility == true
                      - not_attending.push(rsvp.guest.full_name)
                    - when rsvp.event_id == event.id && rsvp.response == "Not Responded" && rsvp.visibility == true
                      - not_responded.push(rsvp.guest.full_name)
                %td.text-success
                  - if attending.length > 0
                    = link_to attending.length, "#", data: {html: true, title: "#{event.name} (#{attending.length})", content: "#{render 'response_info', :invitation => invitation, :response => attending, :type => "attending", :event => event.name}", trigger: "hover", container: 'body', toggle: 'popover'}, rel: "popover", style: "color: #18bc9c;"
                %td.text-danger
                  - if not_attending.length > 0
                    = link_to not_attending.length, "#", data: {html: true, title: "#{event.name} (#{not_attending.length})", content: "#{render 'response_info', :invitation => invitation, :response => not_attending, :type => "not_attending", :event => event.name}", trigger: "hover", container: 'body', toggle: 'popover'}, rel: "popover", style: "color: #E74C3B;"
                %td
                  - if not_responded.length > 0
                    = link_to not_responded.length, "#", data: {html: true, title: "#{event.name} (#{not_responded.length})", content: "#{render 'response_info', :invitation => invitation, :response => not_responded, :type => "not_responded", :event => event.name}", trigger: "hover", container: 'body', toggle: 'popover'}, rel: "popover", style: "color: #2c3e50;"
                
-else
  .well.text-center{style: "background-color:#fff;"}
    %h3 You have not invited any guests.
    = link_to "Invite guests now!", "#", "data-target" => "#myModal", "data-toggle" => "modal"