%tr.nested-fields
  %td
    = link_to_remove_association f, :class => "btn btn-danger btn-sm" do
      %span.glyphicon.glyphicon-trash
  %td.text-center{colspan:3}
    = f.hidden_field :is_additional_guest, :value => true
    %label.control-label Additional guest
  %td
    - @events.each_with_index do |event,index|              
      = f.fields_for :rsvps, Rsvp.find_or_initialize_by(:guest_id => f.object.id, :event_id => event.id) do |rsvp|
        .checkbox
          = rsvp.label :visibility do
            = rsvp.check_box :visibility
            =event.name
          =rsvp.hidden_field :event_id, :value => event.id