.content-full
  .content-nav
    %ul.list-inline
      %li=link_to "Updates", @occasion
      %li=link_to "Events", occasion_events_path(@occasion)
      %li=link_to "Invitations", occasion_invitations_path(@occasion), style: "font-weight:bold;"
  .content-header
    %h1
      %strong Invitations
      ="for #{@occasion.name}"
    
  .content-toolbar
    %h2
      ="#{pluralize(@invitations.count,'invitation')} found"
      = link_to 'Invite more guests', new_occasion_invitation_path(@occasion), :class => "btn btn-primary form-btn pull-right", style: "margin-top: -13px;"
  
  .content-body
    - if @invitations.present?
      - @invitations.each do |invitation|
        .results-row
          .row
            .small-12.columns
              .btn-group.pull-right
                = link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_occasion_invitation_path(@occasion,invitation),class: "btn btn-link btn-lg info-btn", data: {container: 'body', content: "edit this invitation", trigger: "hover", toggle: "popover"}
                = link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, occasion_invitation_path(@occasion, invitation), method: :delete, data: {confirm: 'Are you sure you want to delete this invitation?'},class: "btn btn-link btn-lg info-btn", data: {container: 'body', content: "delete this invitation", trigger: "hover", toggle: "popover"}

              %h4=link_to Contact.find(invitation.contact_id).household_name, occasion_invitation_path(@occasion, invitation)

    -else
      .row
        .small-12.columns
          %p.text-center
            -if current_user.contacts.present?
              No guests invited. 
              = link_to 'Invite guests!', new_occasion_invitation_path(@occasion)
            -else 
              You have no contacts.
              = link_to "Add contacts!", user_omniauth_authorize_path(:facebook)

= render "layouts/modal"
