.content-full
  .content-nav
    %ol.breadcrumb
      %li=link_to @occasion.name, @occasion
      %li.active Invitations
  .content-header
    %h1 Invitations
  .content-body

    .row
      .col-xs-3
        = link_to 'Invite more guests', new_occasion_invitation_path(@occasion),class: "btn btn-primary btn-block"
        %br
        .list-group
          =link_to "Recent Activity", @occasion, class:"list-group-item"
          =link_to occasion_events_path(@occasion), class:"list-group-item" do
            Events
            %span.badge=@occasion.events.count
          =link_to occasion_invitations_path(@occasion), class:"list-group-item active" do
            Invitations
            %span.badge=@occasion.invitations.count

      .col-xs-9
        - if @invitations.present?
          .list-group
            - @invitations.each do |invitation|
              =link_to occasion_invitation_path(@occasion,invitation), class: "list-group-item" do
                %h4.list-group-item-heading= Contact.find(invitation.contact_id).household_name
                %p.list-group-item-text
                  -invitation.rsvps.where(:visibility => true).each do |rsvp|
                    %span.label{:class => rsvp.response == "Not Responded" ? "label-default" : rsvp.response == "Attending" ? "label-success" : rsvp.response == "Might Attend" ? "label-warning" : rsvp.response == "Not Attending" ? "label-danger" : ""}=Event.find(rsvp.event_id).name
        -else
          .well.text-center
            %h3 No guests invited. 
          
            -if current_user.contacts.present?
              = link_to 'Invite guests!', new_occasion_invitation_path(@occasion), :class => "btn btn-link"
            -else
              = link_to 'Invite guests!', user_omniauth_authorize_path(:facebook), :class => "btn btn-link"

= render "layouts/modal"
