%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{href: "#"} Invitedly
  / Collect the nav links, forms, and other content for toggling
  #bs-example-navbar-collapse-1.collapse.navbar-collapse
    %ul.nav.navbar-nav
      - if user_signed_in? 
        - if current_user.occasion
          %li= link_to "Events", occasion_events_path(current_user.occasion)
          %li.active= link_to "Invitations", occasion_invitations_path(current_user.occasion)  
  

    %ul.nav.navbar-nav.navbar-right
      - if user_signed_in? 
        - if current_user.occasion
          %li.dropdown
            %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
              =current_user.occasion.name
  
              %b.caret
            %ul.dropdown-menu
              %li= link_to "Edit Wedding Details", edit_occasion_path(current_user.occasion)
              %li= link_to "Preview Wedding Page", occasion_path(current_user.occasion, :preview => "true")
        - else
          %li= link_to "New Wedding", new_occasion_path
      - if user_signed_in? 
        %li= link_to "Settings", edit_user_registration_path
        %li= link_to "Sign out", destroy_user_session_path, method: :delete
      -else
        %li= link_to "Sign in", new_user_session_path
        %li= link_to "Sign up", new_user_registration_path

%h1 
  
  %button.pull-right.btn.btn-success{"data-target" => "#myModal", "data-toggle" => "modal"}
    New Invitation
  Invitations
  
      
- if @invitations.present?
  .list-group      
    - @invitations.each do |invitation|
      - if invitation.invitable_type == "Guest"
        - guest = Guest.find(invitation.invitable_id)
        
        .list-group-item
          %h4
            .pull-right
              = link_to "Edit", edit_occasion_guest_path(@occasion,guest), class: "btn btn-default btn-sm"
              = link_to "Uninvite", [@occasion, guest], method: :delete, data: {confirm: 'Are you sure you want to uninvite this guest?'}, class: "btn btn-default btn-sm"
            %ul.list-inline
              %li
                =guest.full_name
                - if guest.invitation.present?
                  - guest.rsvps.where(:visibility => true).each do |rsvp|
                    = link_to Event.find(rsvp.event_id).name, "#", class: rsvp.response == "Not Responded" ? "btn btn-default btn-xs" : rsvp.response == "Attending" ? "btn btn-success btn-xs" : rsvp.response == "Might Attend" ? "btn btn-warning btn-xs" : rsvp.response == "Not Attending" ? "btn btn-danger btn-xs" : ""

          %p.list-group-item-text
            -#-if guest.address_1.present?
              ="#{guest.address_1} #{guest.address_2}"
            -#-if ((guest.city.present? and guest.state.present?) and (guest.country == 'United States'))
              %br
              ="#{guest.city}, #{guest.state} #{guest.zip}" 
            -#-if ((guest.city.present? and guest.region.present?) and (guest.country != 'United States'))
              %br
              ="#{guest.city}, #{guest.region} #{guest.postal_code}"
            -#-if guest.country != 'United States'
              %br
              = guest.country
            -#-if guest.email.present? or guest.home_phone.present? or guest.cell_phone.present?
              %br
            -#-if guest.email.present?
              %abbr{title:'Email'}E:
              = link_to guest.email, "mailto:#{guest.email}"
            -#-if guest.home_phone.present?
              %abbr{title:'Home'}H:
              = guest.home_phone
            -#-if guest.cell_phone.present?
              %abbr{title:'Mobile'}M:
              = guest.cell_phone
            - if guest.notes.present?
              %span.text-muted="#{guest.notes}"
                    
      - else
        - household = Household.find(invitation.invitable_id)
        
        .list-group-item
          %h4
            .pull-right
              = link_to "Edit", edit_occasion_household_path(@occasion,household), class: "btn btn-default btn-sm"
              = link_to "Uninvite", [@occasion, household], method: :delete, data: {confirm: 'Are you sure you want to uninvite this household?'}, class: "btn btn-default btn-sm"
            =household.name

          %ul
            -household.guests.each do |guest|
              %li
                %p
                  -if guest.full_name.blank?
                    %span.text-muted {No guest name}
                  -else 
                    = guest.full_name
                  - guest.rsvps.where(:visibility => true).each do |rsvp|
                    = link_to Event.find(rsvp.event_id).name, "#", class: rsvp.response == "Not Responded" ? "btn btn-default btn-xs" : rsvp.response == "Attending" ? "btn btn-success btn-xs" : rsvp.response == "Might Attend" ? "btn btn-warning btn-xs" : rsvp.response == "Not Attending" ? "btn btn-danger btn-xs" : ""
          - if household.notes.present?
            %span.text-muted="#{household.notes}"

-else
  .well.text-center
    %h3 You have no guests.
    %button.btn.btn-success{"data-target" => "#myModal", "data-toggle" => "modal"}
      Add guests now!

.modal.fade#myModal{:tabindex=> "-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=> "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Invite guests
      .modal-body
        %p You can choose to invite a single guest or a household (more than 1 guest).
        .row
          .col-xs-6
            = link_to "Single guest", new_occasion_guest_path(@occasion), :class => "btn btn-block btn-sm btn-default"
          .col-xs-6
            = link_to "Household", new_occasion_household_path(@occasion), :class => "btn btn-block btn-sm btn-default"
        %hr
        %h4 Or...Import a CSV file of your guests.
        =form_tag import_occasion_guests_path(@occasion), multipart: true do
          .row
            .col-xs-12
              %p.text-muted
                You can also import a CSV file of your guests by following this
                =link_to "example template.", "https://docs.google.com/a/vasavada.us/spreadsheet/ccc?key=0Ar12fAF1l7BJdGZfRUdZMy1NaDhGNER6SU9TX1h2UlE#gid=0"
              %ul
                %li
                  %strong Household Name
                  If this is a household, enter in a household name else leave blank.  All guests under a household will be grouped together. (optional)
                %li
                  %strong Household Email
                  If this is a household, enter in a household email else leave blank. (optional)
                %li
                  %strong Household Notes
                  If this is a household, enter any notes about the guest.  These notes are for your eyes only. (optional)
                %li
                  %strong Title
                  This can be either Dr., Mr., Mrs., and Ms. If you don't know the guests name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
                %li
                  %strong First Name
                  This is the guests first name. If you don't know the guests name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
                %li
                  %strong Last Name
                  This is the guests last name. If you don't know the guests name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
                %li
                  %strong Email
                  If this is a single guest, add an email address.  Note that if this guest is under a household, email should be added to Household Email.
                %li
                  %strong Notes
                  If this is a single guest, eter any notes about the guest.  Note that if this guest is under a household, notes should be added to Household Notes.
                %li
                  %strong Events
                  For every event that has been created, add an additional column with the Event name in the header and "Not Responded" to the events that the guest is invited to.  Leave the others blank.
              .form-group
                = submit_tag "Import guests", :class => "btn btn-success btn-sm pull-right"
                = file_field_tag :file              
