.container
  %h1
    %button.pull-right.btn.btn-success{"data-target" => "#myModal", "data-toggle" => "modal"}
      New Invitation
    Invitations
  
      
  - if @invitations.present?
    .panel.panel-default
      .panel-body
        %strong Download:
        = link_to "CSV", occasion_invitations_path(@occasion, format: "csv")
      .list-group      
        - @invitations.each do |invitation|      
          .list-group-item
            %h4
              .pull-right
                = link_to "Edit", edit_occasion_invitation_path(@occasion,invitation), class: "btn btn-primary btn-sm"
                = link_to "Uninvite", [@occasion, invitation], method: :delete, data: {confirm: 'Are you sure you want to uninvite this household?'}, class: "btn btn-primary btn-sm"
              =invitation.household.name
              %small="(#{pluralize(invitation.household.guests.count,'guest')})"
              %span{class: invitation.status == "Responded" ? " label label-success" : ""}= invitation.status

            %ul
              -invitation.household.guests.each do |guest|
                %li
                  %p
                    -if guest.full_name.blank?
                      %span.text-muted {No guest name}
                    -else 
                      = guest.full_name
                    - guest.rsvps.where(:visibility => true).each do |rsvp|
                      = link_to Event.find(rsvp.event_id).name, "#", class: rsvp.response == "Not Responded" ? "btn btn-default btn-xs" : rsvp.response == "Attending" ? "btn btn-success btn-xs" : rsvp.response == "Not Attending" ? "btn btn-danger btn-xs" : ""
            - if invitation.household.notes.present?
              %span.text-muted="#{invitation.household.notes}"

  -else
    .well.text-center{style: "background-color:#fff;"}
      %h3 You have not invited any guests.
      = link_to "Invite guests now!", "#", "data-target" => "#myModal", "data-toggle" => "modal"

.modal.fade#myModal{:tabindex=> "-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=> "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Invite guests
      .modal-body
        %h4 Invite guests individually
        = link_to "Invite guests", new_occasion_invitation_path(@occasion), :class => "btn btn-block btn-sm btn-default"
        %hr
        %h4 Or...Import a CSV file of your guests.
        =form_tag import_occasion_guests_path(@occasion), multipart: true do
          .row
            .col-xs-12
              %p.text-muted
                You can also import a CSV file of your guests by following this
                =link_to "example template.", "https://docs.google.com/a/vasavada.us/spreadsheet/ccc?key=0Ar12fAF1l7BJdGZfRUdZMy1NaDhGNER6SU9TX1h2UlE#gid=0"
              %dl
                %dt Family Name (optional)
                %dd If this is a family, add a family name else leave blank.  All guests under the same family name will be grouped together.
                %dt Email (optional)
                %dd Add email else leave blank.
                
                %dt Notes (optional)
                %dd Add any notes.  These notes will be kept private.
                %dt Title
                %dd This can be either Dr., Mr., Mrs., and Ms. If you don't know the guest's name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
                %dt First Name
                %dd This is the guest's first name. If you don't know the guest's name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
                %dt Last Name
                %dd This is the guest's last name. If you don't know the guest's name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
                %dt Events
                %dd
                  For every event that has been created, add an additional column with the
                  %strong exact
                  event name in the header and "Y" to the events to which the guest is invited, else leave the fields blank.
              .well.form-group
                = submit_tag "Import guests", :class => "btn btn-success btn-sm pull-right"
                = file_field_tag :file              
