.container
  %h1
    .pull-right
      %button.btn.btn-success{"data-target" => "#myModal", "data-toggle" => "modal"} Import from CSV
      =link_to "New Invitation", new_occasion_invitation_path(@occasion), class: "btn btn-success"
    Invitations
  
      
  - if @invitations.present?
    .panel.panel-default
      .panel-body        
        %strong Download:
        = link_to "CSV", occasion_invitations_path(@occasion, format: "csv")
      .table-responsive
        %table.table.table-striped.table-hover.table-condensed#invitation{"data-spy"=>"scroll", "data-target"=>".table_body"}
          %thead
            %tr
              %th Invitation name
              - @occasion.events.each do |event|
                %th.sorter-false{:colspan => 3}=event.name
              %th.sorter-false Actions
            %tr
              %th.sorter-false
              - @occasion.events.each do |event|
                %th.text-success
                  Y
                  ="(#{Rsvp.where(:visibility => true, :event_id => event, :response => "Attending").count})"
                %th.text-danger
                  N
                  ="(#{Rsvp.where(:visibility => true, :event_id => event, :response => "Attending").count})"
                %th 
                  ?
                  ="(#{Rsvp.where(:visibility => true, :event_id => event, :response => "Not Responded").count})"
              %th
          %tbody.table_body
            - @invitations.each do |invitation|
              %tr
                %td
                  = invitation.household.name
                  - invitation.household.tag_list.each do |t| 
                    %span.label.label-info=t
                  %br
                  %small="Last updated #{time_ago_in_words(invitation.updated_at)} ago"
                - rsvps = invitation.rsvps.where(:visibility => true)
                - @occasion.events.each do |event|
                  %td.text-success
                    - attending = rsvps.where(:event_id => event.id, :response => "Attending").count
                    - if attending > 0
                      = attending
                  %td.text-danger
                    - not_attending = rsvps.where(:event_id => event.id, :response => "Not Attending").count
                    - if not_attending > 0
                      = not_attending  
                  %td
                    - not_responded = rsvps.where(:event_id => event.id, :response => "Not Responded").count
                    - if not_responded > 0
                      = not_responded  
                %td
                  = link_to occasion_invitation_manage_path(@occasion, invitation, :guest_info), data: {toggle: "tooltip", title: "Edit Invitation", placement: "bottom", trigger: "hover"}, class: "btn btn-primary btn-sm" do
                    %span.glyphicon.glyphicon-pencil
                  = link_to [@occasion, invitation], method: :delete, data: {toggle: "tooltip", title: "Delete Invitation...", placement: "bottom", trigger: "hover", confirm: "Are you sure you want to uninvite the #{invitation.household.name} group?"}, class: "btn btn-danger btn-sm" do
                    %span.glyphicon.glyphicon-trash
              
  -else
    .well.text-center{style: "background-color:#fff;"}
      %h3 You have not invited any guests.
      = link_to "Invite guests now!", "#", "data-target" => "#myModal", "data-toggle" => "modal"

.modal.fade#myModal{:tabindex=> "-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=> "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Import a CSV file of your guests
      .modal-body
        %h4 
          Follow this
          =link_to "example template.", "https://docs.google.com/a/vasavada.us/spreadsheet/ccc?key=0Ar12fAF1l7BJdGZfRUdZMy1NaDhGNER6SU9TX1h2UlE#gid=0"
        %dl
          %dt Family Name (optional)
          %dd If this is a family, add a family name else leave blank.  All guests under the same family name will be grouped together.
          %dt Email (optional)
          %dd Add email else leave blank.
          
          %dt Notes (optional)
          %dd Add any notes.  These notes will be kept private.
          %dt Title
          %dd This can be either Dr., Mr., Mrs., and Ms. If you don't know the guest's name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
          %dt First Name
          %dd This is the guest's first name. If you don't know the guest's name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
          %dt Last Name
          %dd This is the guest's last name. If you don't know the guest's name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
          %dt Events
          %dd
            For every event that has been created, add an additional column with the
            %strong exact
            event name in the header and "Y" to the events to which the guest is invited, else leave the fields blank.
            .well.form-group
              =form_tag import_occasion_guests_path(@occasion), multipart: true do
              
                = submit_tag "Import guests", :class => "btn btn-success btn-sm pull-right"
                = file_field_tag :file              
