.container
  %h1
    %button.pull-right.btn.btn-success{"data-target" => "#myModal", "data-toggle" => "modal"}
      New Invitation
    Invitations
  
      
  - if @invitations.present?
    .list-group      
      - @invitations.each do |invitation|      
        .list-group-item
          %h4
            .pull-right
              = link_to "Edit", edit_occasion_invitation_path(@occasion,invitation), class: "btn btn-primary btn-sm"
              = link_to "Uninvite", [@occasion, invitation], method: :delete, data: {confirm: 'Are you sure you want to uninvite this household?'}, class: "btn btn-primary btn-sm"
            =invitation.household.name
            %span{class: invitation.status == "Responded" ? " label label-success" : ""}= invitation.status

          %ul
            -invitation.household.guests.each do |guest|
              %li
                %p
                  -if guest.full_name.blank?
                    %span.text-muted {No guest name}
                  -else 
                    = guest.full_name
                  - guest.rsvps.where(:visibility => true).each do |rsvp|
                    = link_to Event.find(rsvp.event_id).name, "#", class: rsvp.response == "Not Responded" ? "btn btn-default btn-xs" : rsvp.response == "Attending" ? "btn btn-success btn-xs" : rsvp.response == "Not Attending" ? "btn btn-danger btn-xs" : ""
          - if invitation.household.notes.present?
            %span.text-muted="#{invitation.household.notes}"

  -else
    .well.text-center
      %h3 You have not invited any guests.
      %button.btn.btn-success{"data-target" => "#myModal", "data-toggle" => "modal"} Invite guests now!

.modal.fade#myModal{:tabindex=> "-1", :role=>"dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=> "true"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
        %h4.modal-title Invite guests
      .modal-body
        %h4 Invite guests individually
        = link_to "Invite guests", new_occasion_invitation_path(@occasion), :class => "btn btn-block btn-sm btn-default"
        %hr
        %h4 Or...Import a CSV file of your guests.
        =form_tag import_occasion_guests_path(@occasion), multipart: true do
          .row
            .col-xs-12
              %p.text-muted
                You can also import a CSV file of your guests by following this
                =link_to "example template.", "https://docs.google.com/a/vasavada.us/spreadsheet/ccc?key=0Ar12fAF1l7BJdGZfRUdZMy1NaDhGNER6SU9TX1h2UlE#gid=0"
              %ul
                %li
                  %strong Household Name
                  If this is a household, enter in a household name else leave blank.  All guests under a household will be grouped together. (optional)
                %li
                  %strong Household Email
                  If this is a household, enter in a household email else leave blank. (optional)
                %li
                  %strong Household Notes
                  If this is a household, enter any notes about the guest.  These notes are for your eyes only. (optional)
                %li
                  %strong Title
                  This can be either Dr., Mr., Mrs., and Ms. If you don't know the guests name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
                %li
                  %strong First Name
                  This is the guests first name. If you don't know the guests name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
                %li
                  %strong Last Name
                  This is the guests last name. If you don't know the guests name, but would like to reserve a place for an additional guest, please leave title, first name, and last name blank.
                %li
                  %strong Email
                  If this is a single guest, add an email address.  Note that if this guest is under a household, email should be added to Household Email.
                %li
                  %strong Notes
                  If this is a single guest, eter any notes about the guest.  Note that if this guest is under a household, notes should be added to Household Notes.
                %li
                  %strong Events
                  For every event that has been created, add an additional column with the Event name in the header and "Not Responded" to the events that the guest is invited to.  Leave the others blank.
              .well.form-group
                = submit_tag "Import guests", :class => "btn btn-success btn-sm pull-right"
                = file_field_tag :file              
