= form_for @contact, :html => {:role =>"form"} do |f|

  %h3 Contact Details

  = f.label :household_name, "Name <font color='red'>*</font>".html_safe, class: "#{@contact.errors.include?(:household_name) ? 'error' : ''}"
  = f.text_field :household_name, :autofocus => true, :maxlength => 200, class: "#{@contact.errors.include?(:household_name) ? 'error' : ''}"
  %small{class: "#{@contact.errors.include?(:household_name) ? 'error' : ''}"}= @contact.errors.get(:household_name).join('; ')

  .row
    .columns.small-3
      = f.label :max_guests
      = f.select :max_guests, options_for_select((1..20).to_a, {:selected => @contact.max_guests}), {}


  %h3 Contact Information

  = f.label :email, "Preferred Email <font color='red'>*</font>".html_safe, class: "#{@contact.errors.include?(:email) ? 'error' : ''}"
  = f.email_field :email, :maxlength => 200, class: "#{@contact.errors.include?(:email) ? 'error' : ''}"
  %small{class: "#{@contact.errors.include?(:email) ? 'error' : ''}"}= @contact.errors.get(:email).join('; ')
  
  .row
    .columns.small-7
      .form-group
        = f.label :address_1, "Address 1"
        = f.text_field :address_1, :maxlength => 100
    .columns.small-5
      .form-group
        = f.label :address_2, "Address 2"
        = f.text_field :address_2, :maxlength => 100
  .row
    .columns.small-5
      = f.label :city, "City"
      = f.text_field :city, :maxlength => 100
    .columns.small-4.domestic
      = f.label :state, "State"
      = f.collection_select(:state,	@state, :name, :name, :prompt => "Please select...")
    .domestic.columns.small-3
      = f.label :zip, "Zip"
      = f.text_field :zip, :maxlength => 5
    .international.columns.small-4
      = f.label :region, "Region"
      = f.text_field :region, :maxlength => 100
    .international.columns.small-3
      = f.label :postal_code, "Postal Code"
      = f.text_field :postal_code, :maxlength => 20

  = f.label :country, "Country"
  = f.collection_select(:country,	@country, :name, :name, {:selected => @contact.country.blank? ? "United States" : @contact.country}, :id => "countrySelect")

  .row
    .columns.small-6
      = f.label :home_phone, "Home Phone"
      = f.telephone_field :home_phone, :type => "tel"
    .columns.small-6
      = f.label :cell_phone, "Cell Phone"
      = f.telephone_field :cell_phone, :type => "tel"

  - if user_signed_in?
    %h3 Private Notes
    = f.label :notes, "Notes"
    = f.text_area :notes, {:rows => 5, :maxlength => 500, placeholder: "These notes are private and visible only to you."}
    


  - if user_signed_in?
    .pull-right
      = f.submit "Save & Add more", :class => "btn btn-primary form-btn"
      = f.submit "Save & Finish", :class => "btn btn-success form-btn"
    = link_to 'Cancel', address_book_path, :class=> "btn btn-default form-btn"
  - else
    = f.submit "Submit info", :class => "btn btn-success form-btn pull-right"