-#%h3 Invitation Information

-#%fieldset
  .row
    .col-xs-3
      %p You can set a limit of how many additional people that the guest can bring.
      .form-group              
        = f.label :max_guests, "Max +1s", class: "control-label"
        = f.select :max_guests, options_for_select((1..20).to_a),{}, class: "form-control input-sm"
  .checkbox      
    = f.label :send_email, class: "control-label" do
      = f.check_box :send_email, checked: true
      Send guest an email to rsvp?
  .row
    .col-xs-6
      .form-group#invitation_send_date
        = f.label :send_date, "Invitation Send Date"
        = f.text_field :send_date, :value => f.object.blank? ?  Date.today.strftime("%b %e, %Y") : f.object.send_date, :class => "datepicker form-control input-sm"
    
%fieldset
  %h3 Event Invitations
  %p Select the events that this guest is invited and their responses, if any.
  %table.table
    %thead
      %tr
        %th Event name
        %th Response
    %tbody
    
      = f.fields_for :rsvps do |rsvp|
        %tr
          %td
            = rsvp.hidden_field(:event_id)
            .checkbox
              = rsvp.check_box :visibility
              = rsvp.label :visibility, Event.find(rsvp.object.event_id).name, class: "control-label"
          %td
            .form-group
              = rsvp.collection_select(:response,	@response, :name, :name, {:selected => rsvp.object.response.blank? ? "Not Responded" : rsvp.object.response},class: "form-control")