%ul.nav.nav-pills
  %li
    =link_to @occasion do
      Recent Activity
  %li
    =link_to occasion_events_path(@occasion) do
      Events
      %span.badge=@occasion.events.count
  %li.active
    =link_to occasion_contacts_path(@occasion) do
      Guests
      %span.badge=current_user.contacts.count

%h1 
  .pull-right= link_to 'New Guest', new_occasion_contact_path(@occasion), class: "btn btn-success"
  Guests
  
      
- if @contacts.present?
  .list-group      
    - @contacts.each do |contact|
      .list-group-item
        %ul.pull-right.list-inline
          %li= link_to "Edit", edit_occasion_contact_path(@occasion,contact)
          %li= link_to "Delete", [@occasion, contact], method: :delete, data: {confirm: 'Are you sure you want to delete this contact?'}
        %h4.list-group-item-heading
          
          =contact.contact_name
          %small=contact.guest_names

        %p.list-group-item-text


          -if contact.address_1.present?
            ="#{contact.address_1} #{contact.address_2}"
          -if ((contact.city.present? and contact.state.present?) and (contact.country == 'United States'))
            %br
            ="#{contact.city}, #{contact.state} #{contact.zip}" 
          -if ((contact.city.present? and contact.region.present?) and (contact.country != 'United States'))
            %br
            ="#{contact.city}, #{contact.region} #{contact.postal_code}"
          -if contact.country != 'United States'
            %br
            = contact.country
          -if contact.email.present? or contact.home_phone.present? or contact.cell_phone.present?
            %br
          -if contact.email.present?
            %abbr{title:'Email'}E:
            = link_to contact.email, "mailto:#{contact.email}"
          -if contact.home_phone.present?
            %abbr{title:'Home'}H:
            = contact.home_phone
          -if contact.cell_phone.present?
            %abbr{title:'Mobile'}M:
            = contact.cell_phone
          - if contact.notes.present?
            %br
            %br
            %span.text-muted="#{contact.notes}"
            
          %ul.list-inline
            - if contact.invitation.present?
              - contact.rsvps.where(:visibility => true).each do |rsvp|
                %li
                  %span.label{:class => rsvp.response == "Not Responded" ? "label-default" : rsvp.response == "Attending" ? "label-success" : rsvp.response == "Might Attend" ? "label-warning" : rsvp.response == "Not Attending" ? "label-danger" : ""}=Event.find(rsvp.event_id).name

-else
  .well.text-center
    %h3 You have no guests.
    = link_to "Add guests now!", new_occasion_contact_path(@occasion)