.container
  %ul.list-inline
    %li.text-muted 1. Guest Information
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li.text-primary
      %strong 2. Events
  
  %h2 Events

  = form_for [@occasion,@invitation], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
    .panel.panel-default
      .panel-body
        %h4.text-warning
          %strong You're invited!
          %small Select the events to which each guest is invited.  
      %ul.list-group
        %li.list-group-item
          = f.fields_for :guests do |guest|
            %fieldset
              - if guest.object.last_name != ""
                %h4
                  %strong=guest.object.full_name
              - else
                %h4.text-muted {Additional guest}
            
              = guest.fields_for :rsvps, guest.object.rsvps.event_view do |rsvp|
                .checkbox
                  %label
                    = rsvp.check_box :visibility
                    = rsvp.hidden_field :event_id
                    = rsvp.hidden_field :invitation_id
                    = Event.find(rsvp.object.event_id).name

    = link_to 'Previous', previous_wizard_path, :class=> "btn btn-primary btn-lg"
    = f.submit "Save", :class => "btn btn-success btn-lg pull-right"