.container
  %h1 Events
  .panel.panel-warning
    .panel-heading
      = link_to "Guest Information", occasion_invitation_manage_path(@occasion, @invitation,:guest_info), class:"text-primary"
      >
      = link_to "Events", occasion_invitation_manage_path(@occasion, @invitation,:events), class: "text-primary", style: "font-weight: bold;"
      >
      = link_to "RSVP", occasion_invitation_manage_path(@occasion, @invitation,:rsvp), class: "text-primary"
  = form_for [@occasion,@invitation], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
    .panel.panel-default
      .panel-body
        %h2 Select the events to which each guest is invited.  
      %ul.list-group
        %li.list-group-item
          = f.fields_for :household do |household|
            = household.fields_for :guests do |guest|
              - if guest.object.first_name != "" && guest.object.first_name != ""
                %h3=guest.object.full_name
              - else
                %h3.text-muted {An additional guest}
              
              = guest.fields_for :rsvps do |rsvp|
                .checkbox
                  %label
                    = rsvp.check_box :visibility
                    = rsvp.hidden_field :event_id
                    = rsvp.hidden_field :invitation_id
                    = Event.find(rsvp.object.event_id).name

    .form-group.pull-right
      = f.submit "Next", :class => "btn btn-success btn-lg"
    .form-group
      = link_to 'Previous', previous_wizard_path, :class=> "btn btn-default btn-lg"