.container
  .row
    .col-sm-offset-2.col-sm-8
      .text-center
        %h1 Invitedly
        %p Let us manage your guestlist.
      = form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f|
        .row.container-filled
          .col-sm-offset-1.col-sm-10
            %fieldset
              %legend Reset your password
            
              .form-group{class: resource.errors.include?(:email) ? 'has-error' : ''}
                = f.label :email, class: "control-label" do
                  Email
                  %span{style: "color:red"}*
                = f.text_field :email, :autofocus => true, class: "form-control input-lg"
                %span.help-block= resource.errors.get(:email).join('; ')
    
            %fieldset
              = f.submit "Send reset password email", :class=> "btn btn-success btn-block btn-lg"
    
  %fieldset
    %p.text-center
      Remember your password?
      = link_to "Sign in.", new_session_path(resource_name)