%h2 
  .pull-right= link_to 'New Event', new_occasion_event_path(@occasion), class: "btn btn-primary btn-sm"
  Events


- if @events.present?
  %table.table
    %thead
      %tr
        %th Name
        %th{width: "40%"} Status
        %th Actions
    %tbody
      - @events.each do |event|
        %tr
          %td
            =link_to event.name, occasion_event_path(@occasion,event), style:"font-size:1.25em;"
            %br
            = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time.strftime('%l:%M%P')}"
            %br
            - unless event.address_1.blank?
              = link_to "https://www.google.com/maps/preview#!q=#{event.address}" do
                =event.location
              %span.text-muted= "| #{event.address}"
            - else
              = event.location
            .text-muted=event.description
          %td
            .progress{style:"height:30px;"}
              .progress-bar.progress-bar-success{style: "width: #{100*Rsvp.attending(event).count/(Rsvp.invited(event).count == 0 ? 1.0 : Rsvp.invited(event).count.to_f )}%"}
                = Rsvp.attending(event).count
              .progress-bar{style: "width: #{100*Rsvp.not_responded(event).count/(Rsvp.invited(event).count == 0 ? 1.0 : Rsvp.invited(event).count.to_f)}%"}
                = Rsvp.not_responded(event).count
              .progress-bar.progress-bar-danger{style: "width: #{100*Rsvp.not_attending(event).count/(Rsvp.invited(event).count == 0 ? 1.0 : Rsvp.invited(event).count.to_f )}%"}
                = Rsvp.not_attending(event).count
            %td
              .btn-group
                %a.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}
                  %span.glyphicon.glyphicon-cog
                  %span.caret
                %ul.dropdown-menu{role: "menu"}
                  %li= link_to "View guest list", occasion_event_path(@occasion,event)
                  %li= link_to "Edit event", edit_occasion_event_path(@occasion,event)
                  %li.divider
                  %li= link_to "Delete Event", occasion_event_path(@occasion,event), method: :delete, confirm: 'Are you sure you want to delete this event?'
          
          
-else
  %ul.list-group
    %li.list-group-item.text-center
      %h3
        You haven't added any events yet!