= form_for @occasion, :html => { :role => "form"} do |f|
  %ul.list-group
    %li.list-group-item
      %h4
        %strong Wedding info
        %small Tell your guests a little more about your wedding
  
      .form-group{class: @occasion.errors.include?(:name) ? 'has-error' : ''}
        = f.label :name, class: "control-label" do
          Title
          %span{style: "color:red"}*
        .row
          .col-sm-7
            = f.text_field :name, class: "form-control"
          .col-sm-5
            %span.help-block= @occasion.errors.get(:name).join('; ')
  
      .form-group{class: @occasion.errors.include?(:description) ? 'has-error' : ''}
        = f.label :description, class: "control-label" do
          Description
          %span{style: "color:red"}*
        .row
          .col-sm-7
            = f.text_area :description, :rows => 5, :class => "form-control"
          .col-sm-5
            %span.help-block= @occasion.errors.get(:description).join('; ')
        
      .row
        .col-md-8
          .form-group{class: @occasion.errors.include?(:slug) ? 'has-error' : ''}
            = f.label :slug, "Custom Wedding URL #{@occasion.errors.get(:slug).join('; ') if @occasion.errors.get(:slug).present?}", class: "control-label"
            .input-group
              %span.input-group-addon http://www.invitedly.com/
              = f.text_field :slug, :placeholder => "johnandmary", :maxlength => 20, class: "form-control"      
            %span.help-block Send your friends and family this link to collect guest info

  = f.submit "Save", :class => "btn btn-success btn-lg pull-right"