= form_for @occasion do |f|
  .row
    .col-sm-4
      %div{class: "form-group #{@occasion.errors.include?(:name) ? 'has-error' : ''}"}
        = f.label :name, "Name <font color='red'>*</font>".html_safe, :class=> "control-label"
        = f.text_field :name, :autofocus => true, :maxlength => 50, :class => "form-control"
        %span.help-block= @occasion.errors.get(:name).join('; ')

  .row
    .col-sm-4
      %div{class: "form-group #{@occasion.errors.include?(:slug) ? 'has-error' : ''}"}
        = f.label :slug, "Occasion handle <font color='red'>*</font>".html_safe, :class=> "control-label"
        = f.text_field :slug, :placeholder => "hetalandrhut", :maxlength => 50, :class => "form-control"
        %span.help-block= @occasion.errors.get(:slug).join('; ')

  .row
    .col-sm-6
      %div{class: "form-group #{@occasion.errors.include?(:description) ? 'has-error' : ''}"}
        = f.label :description, "Description <font color='red'>*</font>".html_safe, :class => "control-label"
        = f.text_area :description, {:class => "form-control",:maxlength => 140, :rows => 5}
        %span.help-block= @occasion.errors.get(:description).join('; ')

  = f.submit "Save", :class=> "btn btn-primary"
  = link_to "Cancel", occasions_path, :class=> "btn btn-default"