= form_for @occasion, :html => { :role => "form"} do |f|

  %fieldset
    %h3 Wedding Details
    
    .form-group{class: @occasion.errors.include?(:name) ? 'has-error' : ''}
      = f.label :name, class: "control-label" do
        Name
        %span{style: "color:red"}*
      = f.text_field :name, :autofocus => true, :maxlength => 50, class: "form-control input-sm"
      %span.help-block= @occasion.errors.get(:name).join('; ')

    .form-group{class: @occasion.errors.include?(:slug) ? 'has-error' : ''}
      = f.label :slug, class: "control-label" do
        Occasion Handle
        %span{style: "color:red"}*
      = f.text_field :slug, :placeholder => "johnsbirthday", :maxlength => 50, class: "form-control input-sm"
      %span.help-block= @occasion.errors.get(:slug).join('; ')

    .form-group{class: @occasion.errors.include?(:description) ? 'has-error' : ''}
      = f.label :description, class: "control-label" do
        Description
        %span{style: "color:red"}*
      = f.text_area :description, :rows => 5, :class => "form-control input-sm"
      %span.help-block= @occasion.errors.get(:description).join('; ')



  = f.submit "Save occasion", :class => "btn btn-success"
  = link_to 'Cancel', occasions_path, :class=> "btn btn-default"