= link_to 'New occasion', new_occasion_path, :class=>"btn btn-primary pull-right"
%h1.form-h1
  Occasions
  %small
    %strong#row_count=@occasions.count
    occasions found

- @occasions.each do |occasion|
  .panel.panel-default{ :style => "margin-bottom:5px;"}
    .panel-heading
      %h2
        %strong= occasion.name
    .panel-body
      %span
        .text-muted
          = occasion.description
          = link_to 'edit', edit_occasion_path(occasion)
    .panel-footer
      .btn-group
        = link_to "Events", occasion_events_path(occasion), :class => "btn btn-default"
        = link_to "Guestlist", occasion_guestlist_path(occasion), :class => "btn btn-default"
      