= link_to 'New occasion', new_occasion_path, :class=>"btn btn-info pull-right"
%h1.form-h1
  Occasions
  %small="#{pluralize(@occasions.count, 'occasion')} found"


- if @occasions.present?
  - @occasions.each do |occasion|
    %h2
      .dropdown.pull-right
        %button.btn.btn-xs.btn-default.dropdown-toggle{"data-toggle" => "dropdown", type: "button"}      
          %span.caret
        %ul.dropdown-menu
          %li= link_to "Edit occasion", edit_occasion_path(occasion)
          %li.divider
          %li= link_to "Delete event", occasion, method: :delete,  remote: true, 'data-type' => 'json', data: {confirm: 'Are you sure you want to delete this occasion?'}
      =link_to occasion.name, occasion
    %p.text-muted
      = occasion.description
    %hr
-else 
  %p.text-center
    You have no occasions.
    =link_to "Add an occasion!", new_occasion_path

= render "layouts/modal"
