= link_to 'New occasion', new_occasion_path, :class=>"btn btn-primary pull-right"
%h1.form-h1
  Occasions
  %small
    %strong#row_count=@occasions.count
    occasions found
    
%table.table.table-condensed.table-hover
  %tbody
    - if @occasions.present?
      - @occasions.each do |occasion|
        %tr
          %td
            %h2
              %strong= occasion.name
            %span
              .text-muted
                = occasion.description
                = link_to 'edit', edit_occasion_path(occasion)
            .text-right
              = link_to "Events", occasion_events_path(occasion), :class => "btn btn-default"
              = link_to "Guestlist", occasion_guestlist_path(occasion), :class => "btn btn-default"
    -else
      %td{:colspan => 2}
    
        %p.text-center
          There are no occasions!
          %span= link_to '<strong>Add occasion.</strong>'.html_safe, new_occasion_path