<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @occasion.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @occasion.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @occasion.description %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @occasion.slug %>
</p>

<%= link_to 'Edit', edit_occasion_path(@occasion) %> |
<%= link_to 'Back', occasions_path %>
