.row
  .small-12.columns
    %ul.breadcrumbs
      %li.current= @occasion.name
    = link_to 'Create event', new_occasion_event_path(@occasion), :class => "button right"
      
    %h1=@occasion.name
    
    %dl.sub-nav
      %dd=link_to "Events", "#recent"
      %dd=link_to "Guest List", "#guestlist"

    .row
      .columns.medium-6

      .columns.medium-6
        .panel#events
          = render 'events'
        .panel#guestlist
          = render 'invitations'
        
= render "layouts/modal"
