.row
  .small-12.columns
    %ul.breadcrumbs
      %li.current= @occasion.name
    = link_to 'Create event', new_occasion_event_path(@occasion), :class => "button right"
      
    %h1=@occasion.name

    .row
      .columns.medium-6
        .panel#events
          = render 'events'
      .columns.medium-6
        .panel#guestlist
          = render 'invitations'
        
= render "layouts/modal"
