.jumbotron
  .container
    %h1=@occasion.name
    %p#description=@occasion.description
    %br
    = form_tag occasion_rsvp_verify_first_last_name_path(@occasion, :preview => "true") do
      .row
        .col-sm-6
          %p.lead Enter your first or last name to begin!
          .form-group
            = text_field_tag :first_name,params[:first_name], :placeholder => "First Name", class: "form-control input-lg"
          .form-group
            = text_field_tag :last_name,params[:last_name], :placeholder => "Last Name", class: "form-control input-lg"
      
          =submit_tag "Search", class: "btn btn-success btn-lg", role: "button"
          -#.input-group
            = text_field_tag :email,nil, :placeholder => "Email Address", class: "form-control input-lg"
            %span.input-group-btn
              =submit_tag "RSVP", class: "btn btn-success btn-lg", role: "button"
      -unless @guests.blank?
        %hr
        %h2
          Guests matching 
          %strong="\"#{params[:first_name]} #{params[:last_name]}\""
        %table.table
          %thead
            %tr
              %th Guest name
              %th RSVP
          %tbody
            -@guests.each do |guest|
              %tr
                %td=guest.full_name
                %td=link_to "RSVP", occasion_invitation_rsvp_path(@occasion, guest.household.invitations.where(:occasion_id => @occasion.id).first, :guest_info), class: "btn btn-success"
