.content-full
  .row
    .small-12.columns
      .pull-right
        = link_to 'Invite guests', "#", :class => "btn btn-primary form-btn"
        = link_to 'Add events', new_occasion_event_path(@occasion), :class => "btn btn-primary form-btn"
      %h1=@occasion.name

      .row
        .columns.medium-6
          %h2 Updates      
          .panel.panel-default#updates
            .panel-body
        .columns.medium-6
          %h2 Events      
          .panel.panel-default#events
            .panel-body
              = render 'events'
          %h2 Invitations      
          .panel.panel-default#invitations
            .panel-body
            = render 'invitations'
        
= render "layouts/modal"
