!!!
%html{lang: "en"}    
  %head
    %title Invitedly
    -#= stylesheet_link_tag "//netdna.bootstrapcdn.com/bootswatch/3.1.1/flatly/bootstrap.min.css"
    = stylesheet_link_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"
    = stylesheet_link_tag "application", media: "all"
    
    = analytics_init if Rails.env.production?
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}
    = csrf_meta_tags
    =favicon_link_tag "/assets/favicon.ico"
    %body
      - if notice.present?
        .alert.alert-success
          = notice
      - if alert.present?
        .alert.alert-danger
          = alert
      
      -#.container#main{style:"margin-top:20px;"}
        - if user_signed_in? & !current_page?(sign_up_path)
          %nav.navbar.navbar-default{role: "navigation"}
            / Brand and toggle get grouped for better mobile display
            .navbar-header
              %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", type: "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              - if user_signed_in?
                - if @occasion.present? && !current_page?(new_occasion_path)
                  = link_to "Invitedly", occasion_invitations_path(@occasion), class: "navbar-brand"
                - else
                  = link_to "Invitedly", root_url, class: "navbar-brand"
            / Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav
                - if user_signed_in? 
                  - if @occasion.present? && !current_page?(new_occasion_path)
                    %li{class: "#{'active' if current_page?(occasion_events_path(@occasion))}"}= link_to "Events", occasion_events_path(@occasion)
                    %li{class: "#{'active' if current_page?(occasion_invitations_path(@occasion))}"}= link_to "Invitations", occasion_invitations_path(@occasion)
                    %li{class: "#{'active' if current_page?(occasion_guestbook_path(@occasion))}"}= link_to "Guestbook", occasion_guestbook_path(@occasion)
  

              %ul.nav.navbar-nav.navbar-right
                - if user_signed_in? 
                  - if @occasion.present? && !current_page?(new_occasion_path)
                    %li.dropdown{class: "#{'active' if current_page?(@occasion)}"}
                      %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                        =@occasion.name
  
                        %b.caret
                      %ul.dropdown-menu
                        %li= link_to "Edit Occasion Details", edit_occasion_path(@occasion)
                        %li= link_to "Preview Occasion Page", occasion_path(@occasion)
                  - else
                    %li{class: "#{'active' if current_page?(occasions_path)}"}= link_to "Occasions", occasions_path
                - if user_signed_in? 
                  %li{class: "#{'active' if current_page?(edit_user_registration_path)}"}= link_to "Settings", edit_user_registration_path
                  %li= link_to "Sign out", destroy_user_session_path, method: :delete
      = yield
      %footer.text-center{style: "margin-top:30px;margin-bottom:30px;"}
        %small{style:"color:#2c3e50;"}
          %strong Invitedly 
          &copy; 2014

      = javascript_include_tag "application"
      = javascript_include_tag "//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js" 