!!!
%html{lang: "en"}    
  %head
    %title Invitedly
    %link{href: "http://fonts.googleapis.com/css?family=Pacifico", rel: "stylesheet", type: "text/css"}
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{:href=>"//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css", :rel=>"stylesheet"}
    = stylesheet_link_tag "application", media: "all"
    
    = csrf_meta_tags
    =favicon_link_tag "/assets/favicon.ico"
    %body
      %nav.top-bar{"data-topbar"=> true}
        %ul.title-area
          %li.name
            %h1#logo= link_to "Invitedly", root_url
          %li.toggle-topbar.menu-icon
            =link_to "#" do
              %span Menu
            
        %section.top-bar-section
          %ul.right
            - if user_signed_in?              
              %li= link_to "Address Book", address_book_path
              %li= link_to "Occasions", occasions_path
              %li= link_to "Settings", edit_user_registration_path
              %li= link_to "Sign out", destroy_user_session_path, method: :delete
            -else
              %li= link_to "Sign in",new_user_session_path
              %li.has-form= link_to "Sign up", new_user_registration_path, class: "button"

      - if notice.present?
        .alert-box{"data-alert" => true}
          =notice
          =link_to "&times;".html_safe, "#", class: "close"
      - if alert.present?
        .warning.alert-box{"data-alert" => true}
          =alert
          =link_to "&times;".html_safe, "#", class: "close"
      .row
        .small-12.columns
          = yield
      .row
        .columns.small-12.bottom
          %footer
            %ul.inline-list.right
              %li= link_to "About", about_path
              %li= link_to "Privacy", privacy_path
              %li= link_to "Terms", terms_path
              %li Invitedly © 2014

      = javascript_include_tag "application"
      %script{:src=>"//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"}            
      