!!!
%html{lang: "en"}    
  %head
    %title Invitedly
    = stylesheet_link_tag "application", media: "all"
    = analytics_init if Rails.env.production?
    
    = csrf_meta_tags
    =favicon_link_tag "/assets/favicon.ico"
    %body{style:"padding-top: 20px;"}
      .container#main

        - if notice.present?
          .row
            .col-xs-12
              .alert.alert-success.alert-dismissable
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
                = notice.html_safe
        - if alert.present?
          .row
            .col-xs-12
              .alert.alert-danger.alert-dismissable
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
                = alert.html_safe

        .fully-container
          .row
            .col-xs-12
              = yield
        #footer
          #legal Copyright &copy; 2014.  All Rights Reserved.

      = javascript_include_tag "application"      