!!!
%html{lang: "en"}    
  %head
    %title Invitedly
    = stylesheet_link_tag "application", media: "all"
    = analytics_init if Rails.env.production?
    
    = csrf_meta_tags
    =favicon_link_tag "/assets/favicon.ico"
    %body
      - if notice.present?
        .alert.alert-success
          = notice
      - if alert.present?
        .alert.alert-danger
          = alert
      #main{style:"margin-top:20px;"}
      = yield

      %footer.text-center{style: "margin-top:30px;margin-bottom:30px;"}
        %small{style:"color:#2c3e50;"}
          %strong Invitedly 
          &copy; 2014

      = javascript_include_tag "application"      