!!!
%html{lang: "en"}    
  %head
    %title Invitedly
    = stylesheet_link_tag "application", media: "all"
    
    = csrf_meta_tags
    =favicon_link_tag "/assets/favicon.ico"
    %body
      .container
        .row
          .col-xs-12
            %h1#logo Invitedly
          
            %ul.list-inline.pull-right{style: "margin-top:32px;"}
              - if user_signed_in? 
                - if current_user.occasion
                  %li= link_to current_user.occasion.name, current_user.occasion, class: "signout-link"
                - else 
                  %li= link_to "Manange Wedding", new_occasion_path, class: "signout-link"
                %li= link_to "Settings", edit_user_registration_path, class: "signout-link"
                %li= link_to "Sign out", destroy_user_session_path, method: :delete, class: "signout-link"
              -else
                %li= link_to "Sign in",new_user_session_path, class: "signout-link"
                %li.has-form= link_to "Sign up", new_user_registration_path, class: "signout-link"
            

        - if notice.present?
          .row
            .col-xs-12
              .alert.alert-success.alert-dismissable
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
                = notice.html_safe
        - if alert.present?
          .row
            .col-xs-12
              .alert.alert-danger.alert-dismissable
                %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", type: "button"} ×
                = alert.html_safe

        .fully-container
          .row
            .col-xs-12
              = yield
        #footer
          #legal Copyright &copy; 2014.  All Rights Reserved.

      = javascript_include_tag "application"      