!!!
%html{lang: "en"}    
  %head
    %title="#{@occasion.name} | Invitedly"
    = stylesheet_link_tag "application", media: "all"
    = analytics_init if Rails.env.production?
    
    = csrf_meta_tags
    =favicon_link_tag "/assets/favicon.ico"
    %body#wedding{style:"padding-top: 20px;"}
      .container
        .row
          .col-xs-12
            - if alert.present?
              .alert.alert-danger
                = alert
            - if notice.present?
              .alert.alert-success
                = notice

      = yield

      = javascript_include_tag "application"