= form_for [@occasion,@household], :html => {:role =>"form"} do |f|
  .row
    .col-xs-7

      %h3 Guest Information      
      .form-group{class: @household.errors.include?(:name) ? 'has-error' : ''}
        = f.label :name, class: "control-label" do
          Household Name
          %span{style:"color:red;"}*
        = f.text_field :name, :autofocus => true, :maxlength => 50, class: "form-control", style: "font-weight:bold;"
        %span.help-block= @household.errors.get(:name).join('; ')
        
      #guests
        = f.fields_for :guests do |guest|
          = render 'guest_fields', :f => guest
        .form-group
          = link_to_add_association 'Add Guest', f, :guests, :class => "btn btn-success"
        
      .form-group
        = f.label :email, class: "control-label" do
          Email
        = f.text_field :email, :maxlength => 50, class: "form-control input-sm"
      
      .form-group
        = f.label :notes, "Notes", class: "control-label"
        = f.text_area :notes, {:rows => 5, :maxlength => 500, placeholder: "These notes are private and visible only to you.", class: "form-control input-sm"}
      
      - if user_signed_in?
        .pull-right
          = f.submit "Save & Add more", :class => "btn btn-success btn-lg"
          = f.submit "Save & Finish", :class => "btn btn-success btn-lg"
        = link_to 'Cancel', occasion_invitations_path(@occasion), :class=> "btn btn-default btn-lg"
      - else
        = f.submit "Submit info", :class => "btn btn-success form-btn btn-lg"


