.content-full
  .content-header
    %h1 Account Settings
  .content-body
    .row
      .col-xs-7
        = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
          %h3 Contact information

          = f.label :email, "Preferred Email"
          = f.email_field :email, :type => "email"

  
          %h3 Change password

          = f.label :password, "Password", class: "#{resource.errors.include?(:password) ? 'error' : ''}"
          = f.password_field :password, :autocomplete => :off, class: "#{resource.errors.include?(:password) ? 'error' : ''}"
          %small{class: "#{resource.errors.include?(:password) ? 'error' : ''}"}= resource.errors.get(:password).join('; ')
          = f.label :password_confirmation, "Password Confirmation", class: "#{resource.errors.include?(:password_confirmation) ? 'error' : ''}"
          = f.password_field :password_confirmation, class: "#{resource.errors.include?(:password_confirmation) ? 'error' : ''}"
          %small{class: "#{resource.errors.include?(:password_confirmation) ? 'error' : ''}"}= resource.errors.get(:password_confirmation).join('; ')

          = f.label :current_password, "Current Password", class: "#{resource.errors.include?(:current_password) ? 'error' : ''}"
          = f.password_field :current_password, :autocomplete => :off, class: "#{resource.errors.include?(:current_password) ? 'error' : ''}"
          %small{class: "#{resource.errors.include?(:current_password) ? 'error' : ''}"}= resource.errors.get(:current_password).join('; ')
          
          .pull-right
            = f.submit "Update settings", :class => "btn btn-success form-btn"
          = link_to 'Cancel', :back, :class=> "btn btn-default form-btn"
  