.container
  .row
    .col-sm-offset-2.col-sm-8
      %h1.text-center
        Invitedly
        %br
        %small Let us manage your guestlist.
      = form_for(@user, :as => @user, :url => registration_path(@user)) do |f|

        %ul.list-group
          %li.list-group-item
            %h3 Create your wedding account!
          %li.list-group-item
          
            %fieldset
              %h4
                %strong 1. Login details
                %small Guests can reply back to this email
              
              .form-group{class: @user.errors.include?(:email) ? 'has-error' : ''}
                = f.label :email, class: "control-label" do
                  Email
                  %span{style: "color:red"}*
                .row
                  .col-sm-7
                    = f.text_field :email, :autofocus => true, class: "form-control"
                  .col-sm-5
                    %span.help-block= @user.errors.get(:email).join('; ')

              
              .form-group{class: @user.errors.include?(:password) ? 'has-error' : ''}
                = f.label :password, class: "control-label" do
                  Password
                  %span{style: "color:red"}*
                .row
                  .col-sm-7
                    = f.password_field :password, class: "form-control"
                  .col-sm-5
                    %span.help-block= @user.errors.get(:password).join('; ')

              
              .form-group{class: @user.errors.include?(:password_confirmation) ? 'has-error' : ''}
                = f.label :password_confirmation, class: "control-label" do
                  Password Confirmation
                  %span{style: "color:red"}*
                .row
                  .col-sm-7
                    = f.password_field :password_confirmation, class: "form-control"
                  .col-sm-5
                    %span.help-block= @user.errors.get(:password_confirmation).join('; ')
            %fieldset
              %h4
                %strong 2. The lovely couple
                %small Shared with guests only
          
              %label
                Your name
                %span{style: "color:red"}*
              .row
                .col-sm-3
                  .form-group{class: @user.errors.include?(:title) ? 'has-error' : ''}
                    = f.label :title, class: "control-label sr-only" do
                      Title
                      %span{style: "color:red"}*
                    = f.collection_select(:title,	@title, :name, :name, {:prompt => "Select"}, {class: "form-control"})
                .col-sm-4
                  .form-group{class: @user.errors.include?(:first_name) ? 'has-error' : ''}
                    = f.label :first_name, class: "control-label sr-only" do
                      First name
                      %span{style: "color:red"}*
                    = f.text_field :first_name, class: "form-control", placeholder: "First Name"
                    
                .col-sm-5
                  .form-group{class: @user.errors.include?(:last_name) ? 'has-error' : ''}
                    = f.label :last_name, class: "control-label sr-only" do
                      Last name
                      %span{style: "color:red"}*
                    = f.text_field :last_name, class: "form-control", placeholder: "Last Name"

              %label
                Partner name
                %span{style: "color:red"}*
              .row
                .col-sm-3
                  .form-group{class: @user.errors.include?(:partner_title) ? 'has-error' : ''}
                    = f.label :partner_title, class: "control-label sr-only" do
                      Title
                      %span{style: "color:red"}*
                    = f.collection_select(:partner_title,	@title, :name, :name, {:prompt => "Select"}, {class: "form-control"})
                .col-sm-4
                  .form-group{class: @user.errors.include?(:partner_first_name) ? 'has-error' : ''}
                    = f.label :partner_first_name, class: "control-label sr-only" do
                      First name
                      %span{style: "color:red"}*
                    = f.text_field :partner_first_name, class: "form-control", placeholder: "First Name"
                    
                .col-sm-5
                  .form-group{class: @user.errors.include?(:partner_last_name) ? 'has-error' : ''}
                    = f.label :partner_last_name, class: "control-label sr-only" do
                      Last name
                      %span{style: "color:red"}*
                    = f.text_field :partner_last_name, class: "form-control", placeholder: "Last Name"
            
            %fieldset
              %h4
                %strong 3. Wedding info
                %small Tell your guests a little more about your wedding

              = f.fields_for :occasion do |occasion|
                
                .form-group{class: occasion.object.errors.include?(:name) ? 'has-error' : ''}
                  = occasion.label :name, class: "control-label" do
                    Title
                    %span{style: "color:red"}*
                  .row
                    .col-sm-7
                      = occasion.text_field :name, class: "form-control"
                    .col-sm-5
                      %span.help-block= occasion.object.errors.get(:name).join('; ')
                
                .form-group{class: occasion.object.errors.include?(:description) ? 'has-error' : ''}
                  = occasion.label :description, class: "control-label" do
                    Description
                    %span{style: "color:red"}*
                  .row
                    .col-sm-7
                      = occasion.text_area :description, :rows => 5, :class => "form-control"
                    .col-sm-5
                      %span.help-block= occasion.object.errors.get(:description).join('; ')
                      
            %fieldset
              %h4
                %strong 4. Your contact info
                %small Guests want to send gifts, ask questions, etc.

              = f.label :address_1, class: "control-label" do
                Address (optional)

              .row
                .col-sm-7
                  .form-group
                    = f.text_field :address_1, placeholder: "Address 1", :maxlength => 100, class: "form-control"
                .col-sm-5
                  .form-group
                    = f.text_field :address_2, placeholder: "Address 2", :maxlength => 100, class: "form-control"
              .row
                .col-sm-5
                  .form-group      
                    = f.text_field :city, placeholder: "City", :maxlength => 100, class: "form-control"
                .col-sm-4.domestic
                  .form-group
                    = f.collection_select :state,	@state, :name, :name, {prompt: "Please select..."}, {class: "form-control"} 
                .domestic.col-sm-3
                  .form-group
                    = f.text_field :zip, placeholder: "Zip", :maxlength => 5, class: "form-control"
                .international.col-sm-4
                  .form-group
                    = f.text_field :region, placeholder: "Region", :maxlength => 100, class: "form-control"
                .international.col-sm-3
                  .form-group
                    = f.text_field :postal_code, placeholder: "Postal Code", :maxlength => 20, class: "form-control"

              .form-group
                = f.collection_select(:country,	@country, :name, :name, {:selected => "United States"}, {class: "form-control",:id => "countrySelect"})

              .row
                .col-sm-5
                  .form-group
                    = f.label :cell_phone, class: "form-label"
                    = f.text_field :cell_phone, :maxlength => 100, class: "form-control"
                .col-sm-5
                  .form-group
                    = f.label :home_phone, class: "form-label"
                    = f.text_field :home_phone, :maxlength => 100, class: "form-control"
                    
            %span.help-block Please note that this service is still in beta, so by signing up you agree to work with us in creating the best possible product!
            = f.submit "Sign up", :class=> "btn btn-success btn-block"
        %p.text-center
          Already have an account?
          = link_to "Sign in.", new_session_path(resource_name)