.row
  .small-10.small-offset-1.columns.medium-6.medium-offset-3
    %h2 Invitedly
  
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
      %fieldset 
        %legend Create a new account
        = f.label :email, "Email", class: "#{resource.errors.include?(:email) ? 'error' : ''}"
        = f.text_field :email, :autofocus => true, :autocomplete => :off, class: "#{resource.errors.include?(:email) ? 'error' : ''}"
        %small{class: "#{resource.errors.include?(:email) ? 'error' : ''}"}= resource.errors.get(:email).join('; ')
        = f.label :password, "Password", class: "#{resource.errors.include?(:password) ? 'error' : ''}"
        = f.password_field :password, :autocomplete => :off, class: "#{resource.errors.include?(:password) ? 'error' : ''}"
        %small{class: "#{resource.errors.include?(:password) ? 'error' : ''}"}= resource.errors.get(:password).join('; ')
        = f.label :password_confirmation, "Password Confirmation", class: "#{resource.errors.include?(:password_confirmation) ? 'error' : ''}"
        = f.password_field :password_confirmation, class: "#{resource.errors.include?(:password_confirmation) ? 'error' : ''}"
        %small{class: "#{resource.errors.include?(:password_confirmation) ? 'error' : ''}"}= resource.errors.get(:password_confirmation).join('; ')
        
        = f.submit "Sign up", :class=> "button", style: "width:100%;"
    = link_to "Already have an account? <strong>Sign in</strong>.".html_safe, new_session_path(resource_name), :class => "button secondary", style: "width:100%;"