.container
  %ul.list-inline
    %li.text-muted 1. Guest Information
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li.text-muted 2. RSVP
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li.text-muted 3. Guestbook
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li.text-primary
      %strong 4. Confirmation
  
  .alert.alert-success.alert-dismissible
    %button.close{"data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×
      %span.sr-only Close
    Thanks for your RSVP.  You're all set!
  %button.pull-right{id:"print", onclick:"javascript:print()", value:"Print", class: "btn btn-link"} Print this page
  
  %h1 Confirmation
    
  %ul.list-group
    %li.list-group-item

      #confirmation-header{style:"margin-bottom:20px;"}
        %h2= @invitation.name
        - if @invitation.address_line_1.present?
          = @invitation.address_line_1
          %br
        - if @invitation.address_line_2.present?
          = @invitation.address_line_2
          %br
        - if @invitation.address_line_3.present?
          = @invitation.address_line_3
          %br
        - if @invitation.cell_phone.present?
          %abbr{title: "Mobile"} M:
          = @invitation.cell_phone
          |
        - if @invitation.home_phone.present?  
          %abbr{title: "Home"} H:
          = @invitation.home_phone
          %br
        - if @invitation.has_email?
          = link_to @invitation.email, "mailto:#{@invitation.email}", target: :blank
      
      %h3 Events
      - @events.each do |event|
        - if @invitation.rsvps.where(:event_id => event.id, :visibility => true).count > 0
          .row
            .col-md-6
              %h4=event.name
              %p.text-muted
                = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time.strftime('%l:%M%P')}"
                %br
                - unless event.address_1.blank?
                  = link_to event.location, "https://www.google.com/maps/preview#!q=#{event.address}"
                  = "| #{event.address}"
                - else
                  = event.location
              %p=event.description


            .col-md-6
              %table.table
                %thead
                  %tr
                    %th{style:"width:50%"} Guest name
                    %th{style:"width:50%"} Response
                %tbody
                  - @invitation.rsvps.where(:event_id => event.id, :visibility => true).each do |rsvp|                  
                    %tr
                      - unless rsvp.guest.is_additional_guest
                        %td
                          = rsvp.guest.full_name
                        %td{class: rsvp.response == "Attending" ? "text-success" : rsvp.response == "Not Attending" ? "text-danger" : ""}=rsvp.response
      - if @invitation.message.present?
        %h3 Guestbook
        
        #confirmation-message{style:"margin-bottom:20px;"}
          %h4
            %em= "\"#{@invitation.message}\""
    
    %li.list-group-item.list-group-item.text-center
      .row
        .col-md-6
          %strong Have a wedding coming up soon?
          %br 
          Let us manage your RSVPs for you.
        .col-md-6
          = link_to "Sign up for Invitedly!", new_user_registration_path, class: "btn btn-primary btn-sm"