.container
  %ul.list-inline
    %li.text-primary 
      %strong 1. Events
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 2. Contact Info
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 3. Guestbook
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 4. Confirmation

  %h1 Events

  = form_for [@occasion,@invitation], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
    %ul.list-group
      %li.list-group-item

        - @events.each_with_index do |event,index|
          - if @invitation.rsvps.where(:event_id => event.id, :visibility => true).count > 0
            .row
              .col-md-6
                %h4.text-primary{style:"margin-top:0px;margin-bottom:0px;font-weight:bold;"}=event.name
                %p.text-muted{style:"margin-top:0px;"}
                  = "#{event.start_date.strftime('%A, %B %e, %Y')} at #{event.start_time.strftime('%l:%M%P')}"
                  %br
                  - unless event.address_1.blank?
                    = link_to event.location, "https://www.google.com/maps/preview#!q=#{event.address}"
                    = "| #{event.address}"
                  - else
                    = event.location
                %p=event.description
              .col-md-6
                %table.table
                  %thead
                    %tr
                      %th Guest name
                      %th{width: "40%"} Attending?
                    %tbody
                      = f.fields_for :rsvps, @invitation.rsvps.where(:event_id => event.id, :visibility => true).order(:id) do |rsvp|
                        %tr
                          %td{style:"vertical-align:middle;"}
                            = rsvp.object.guest.full_name
                            -if rsvp.object.guest.full_name == "Additional guest (+1)"
                              .text-muted If additional guest is not needed, mark as "No".
                          %td
                            .btn-group{"data-toggle" => "buttons"}
                              %label.btn.btn-default.btn-sm{class: "#{rsvp.object.response == "Attending" ? "active" : ""}"}
                                = rsvp.radio_button :response, "Attending"
                                Yes
                              %label.btn.btn-default.btn-sm{class: "#{rsvp.object.response == "Not Attending" ? "active" : ""}"}
                                = rsvp.radio_button :response, "Not Attending"
                                No
                          
                        
    .form-group.pull-right
      = f.submit "Next", :class => "btn btn-success btn-lg"