.container
  %ul.list-inline
    %li.text-muted 1. Events
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li.text-primary 
      %strong 2. Contact Info
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 3. Guestbook
    %li
      %small.glyphicon.glyphicon-chevron-right
    %li 4. Confirmation


  %h1 Contact Info

  = form_for [@occasion,@invitation], :url => wizard_path, :method => :put, :html => {:role =>"form"} do |f|
    %ul.list-group
      %li.list-group-item

        .row
          .col-md-8
            .form-group{class: @invitation.errors.include?(:name) ? 'has-error' : ''}
              = f.label :name, class: "control-label" do
                Family name
                %span{style: "color:red"}*
              .row
                .col-sm-7
                  = f.text_field :name, :autofocus => true, :maxlength => 50, class: "form-control input-lg", placeholder: "Jane and Jim Doe"
                .col-sm-5
                  %span.help-block= @invitation.errors.get(:name).join('; ')
                  
            %table.table
              %thead
                %tr
                  %th Title
                  %th 
                    First Name
                    %span{style: "color:red"}*
                  %th 
                    Last Name
                    %span{style: "color:red"}*
                  %th Attending
              %tbody
                = f.fields_for :guests do |guest|
                  - if (Rsvp.where(:guest_id => guest.object.id, :response => "Attending").count > 0 && guest.object.is_additional_guest) ||  !guest.object.is_additional_guest
                    %tr
                      %td
                        .form-group
                          = guest.collection_select(:title,	@title, :name, :name, {:prompt => "Select"}, {class: "form-control"})
                      %td
                        .form-group{class: guest.object.errors.include?(:first_name) ? 'has-error' : ''}
                          = guest.text_field :first_name, class: "form-control"
                          - if guest.object.errors.include?(:first_name)
                            %span.help-block=guest.object.errors.get(:first_name).join('; ')
                      %td
                        .form-group{class: guest.object.errors.include?(:last_name) ? 'has-error' : ''}
                          = guest.text_field :last_name, class: "form-control"
                          - if guest.object.errors.include?(:last_name)
                            %span.help-block=guest.object.errors.get(:last_name).join('; ')
                      %td
                        - Rsvp.where(:guest_id => guest.object.id, :response => "Attending").each do |rsvp|
                          = rsvp.event.name
                          %br
                        - if guest.object.is_additional_guest
                          = guest.hidden_field :is_additional_guest, :value => false                          

            .form-group{class: @invitation.errors.include?(:email) ? 'has-error' : ''}
              = f.label :email, class: "control-label" do
                Email
                %span{style: "color:red"}*
              .row
                .col-sm-7
                  = f.text_field :email, :maxlength => 50, class: "form-control"
                .col-sm-5
                  %span.help-block= @invitation.errors.get(:email).join('; ')
            
            = f.label :location, class: "control-label" do
              Address (optional)

            .row
              .col-xs-7
                .form-group
                  = f.text_field :address_1, placeholder: "Address 1", :maxlength => 100, class: "form-control"
              .col-xs-5
                .form-group
                  = f.text_field :address_2, placeholder: "Address 2", :maxlength => 100, class: "form-control"
            .row
              .col-sm-5
                .form-group      
                  = f.text_field :city, placeholder: "City", :maxlength => 100, class: "form-control"
              .domestic.col-sm-4.col-xs-7
                .form-group
                  = f.collection_select :state,	@state, :name, :name, {prompt: "Please select..."}, {class: "form-control"} 
              .domestic.col-sm-3.col-xs-5
                .form-group
                  = f.text_field :zip, placeholder: "Zip", :maxlength => 5, class: "form-control"
              .international.col-sm-4
                .form-group
                  = f.text_field :region, placeholder: "Region", :maxlength => 100, class: "form-control"
              .international.col-sm-3
                .form-group
                  = f.text_field :postal_code, placeholder: "Postal Code", :maxlength => 20, class: "form-control"

            .form-group
              = f.collection_select(:country,	@country, :name, :name, {:selected => @invitation.country.blank? ? "United States" : @invitation.country}, {class: "form-control",:id => "countrySelect"})

            .row
              .col-xs-5
                .form-group
                  = f.label :cell_phone, class: "form-label"
                  = f.text_field :cell_phone, :maxlength => 100, class: "form-control"
              .col-xs-5
                .form-group
                  = f.label :home_phone, class: "form-label"
                  = f.text_field :home_phone, :maxlength => 100, class: "form-control"

    .form-group.pull-right
      = f.submit "Next", :class => "btn btn-success btn-lg"
    .form-group
      = link_to 'Previous', previous_wizard_path, :class=> "btn btn-primary btn-lg"